{% extends "index.html" %}


    {% block title %}
    alimenti - Gestione Cucina e Mensa Ospedaliera
    {% endblock %}
    

{% block content %}
<div class="container">
    <div class="search-container">
        <div>
            <input type="text" id="searchName" placeholder="Cerca per nome...">
            <select id="searchType">
                <option value="">Seleziona tipologia</option>
                {% for tipologia in tipologie %}
                <option value="{{ tipologia.id }}">{{ tipologia.nome }}</option>
                {% endfor %}
            </select>
        {% if page_permissions['/app_cucina/alimenti']['can_write'] %}
            </div>
                <button onclick="showAddAlimentoForm()">Aggiungi Alimento</button>
            </div>
        {% endif %}
    <table>
        <thead>
            <tr><th></th>
                <th>Nome</th>
                <th>Energia (Kcal)</th>
                <th>Energia (KJ)</th>
                <th>Proteine (g)</th>
                <th>Carboidrati (g)</th>
                <th>Grassi (g)</th>
                <th>Grassi Saturi (g)</th>
                <th>Allergeni</th>
                <th>Tipologia</th>
                {% if page_permissions['/app_cucina/alimenti']['can_write'] %}
                <th></th>
                {% endif %}
            </tr>
        </thead>
        <tbody id="alimentiTableBody">
            {% for alimento in alimenti %}
            <tr>
                {% if page_permissions['/app_cucina/alimenti']['can_write'] %}
                <td> <div class="icon-pencil" onclick="showModificaAlimentoForm({{ alimento.id }})"title="visualizza Alimento"></div></td>
                {% endif %}
                <td>{{ alimento.alimento }}</td>
                <td>{{ alimento.energia_Kcal }}</td>
                <td>{{ alimento.energia_KJ }}</td>
                <td>{{ alimento.prot_tot_gr }}</td>
                <td>{{ alimento.glucidi_tot }}</td>
                <td>{{ alimento.lipidi_tot }}</td>
                <td>{{ alimento.saturi_tot }}</td>
                <td>
                    {% set allergene_ids = alimento.fkAllergene.split(',') %}
                    {% for id in allergene_ids %}
                    {{ allergeni_map[id.strip()] }}{% if not loop.last %}, {% endif %}
                    {% endfor %}
                </td>
                <td>{{ tipologie_map[alimento.fkTipologiaAlimento] }}</td>
                {% if page_permissions['/app_cucina/alimenti']['can_write'] %}
                <td><div class="icon-cancella" onclick="eliminaAlimento({{ alimento.id }})" title='Elimina Alimento'></div></td>
                {% endif %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>


<!-- Modal for Adding/Editing Alimento -->
<div id="addAlimentoModal" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <span class="close" onclick="closeAddAlimentoForm()">&times;</span>
            <h2 id="modalTitle">Aggiungi alimento</h2>
            <form id="alimentoForm" method="POST" enctype="multipart/form-data">
                {{ form.hidden_tag() }}
                
                <!-- Campo nascosto per l'ID dell'alimento (usato per modifiche) -->
                <input type="hidden" id="alimentoId" name="alimentoId">

                <div>
                    {{ form.alimento.label }} {{ form.alimento(size=32) }}
                </div>
                <div>
                    {{ form.energia_Kcal.label }} {{ form.energia_Kcal() }}
                </div>
                <div>
                    {{ form.energia_KJ.label }} {{ form.energia_KJ() }}
                </div>
                <div>
                    {{ form.prot_tot_gr.label }} {{ form.prot_tot_gr() }}
                </div>
                <div>
                    {{ form.glucidi_tot.label }} {{ form.glucidi_tot() }}
                </div>
                <div>
                    {{ form.lipidi_tot.label }} {{ form.lipidi_tot() }}
                </div>
                <div>
                    {{ form.saturi_tot.label }} {{ form.saturi_tot() }}
                </div>
                <div>
                    {{ form.fkAllergene.label }} {{ form.fkAllergene() }}
                </div>
                <div>
                    {{ form.fkTipologiaAlimento.label }} {{ form.fkTipologiaAlimento() }}
                </div>
                
                <div class="modal-footer">
                    <button type="submit" id="submitButton" class="btn btn-primary">Aggiungi Alimento</button>
                    <button type="button" class="btn btn-secondary" onclick="closeAddAlimentoForm()">Annulla</button>
                </div>
            </form>
        </div>
    </div>
</div>


<script>
    // Serializza i dati da Jinja in un oggetto JavaScript
    const tipologie = {{ tipologie | tojson }};
</script>

<script src="{{ url_for('static', filename='js/alimenti.js') }}"></script>

{% endblock %}