{% extends "index.html" %}

{% block title %}
Modifica Menu - Gestione Cucina
{% endblock %}

{% block content %}
    <h1>Menu {{servizi_map[menu_servizio.fkServizio]}} per il girono {{menu_giorno.data}}</h1>
    <form method="POST">
        {{ form.hidden_tag() }}

            <!-- Bottoni di navigazione -->
        <div class="navigation-buttons">
            {% for tipo in tipologia_piatti %}
                <button type="button" class="button-{{ tipo.id }}" onclick="showSection('{{ tipo.id }}')">
                    {{ tipo.descrizionePlurale }}
                </button>
            {% endfor %}
        </div>


        <!-- Sezioni del menu -->
        {% for tipo in tipologia_piatti %}
            <div id="{{ tipo.id }}" class="menu-section" style="{% if loop.index == 1 %}display: block;{% else %}display: none;{% endif %}">
                <h2>{{ tipo.nome }}</h2>
                {% for piatto in piatti if piatto.fkTipoPiatto == tipo.id %}
                <div class="piatti-row">
                    <div class="piatti-column code">
                        <!-- Applicare dinamicamente il colore di sfondo usando lo style inline -->
                        <span class="piatto-code" style="background-color: {{ tipo.backgroundColor }}">{{ piatto.codice }}</span>
                    </div>
                    <div class="piatti-column name">
                        <label for="piatto-{{ piatto.id }}">{{ piatto.titolo }}</label>
                    </div>
                    <div class="piatti-column checkbox">
                        <input 
                            type="checkbox" 
                            id="piatto-{{ piatto.id }}" 
                            name="piatti" 
                            value="{{ piatto.id }}"
                            {% if piatto.id in piatti_to_preparazioni and piatti_to_preparazioni[piatto.id] %} checked {% endif %}>
                    </div>
                    <div class="piatti-column">
                        <div id="preparazioni-container-{{ piatto.id }}" class="preparazioni-container">
                            <select id="preparazioni-{{ piatto.id }}" name="preparazioni-{{ piatto.id }}">
                                <option value="">Seleziona preparazione</option> <!-- Opzione predefinita -->
                                {% for preparazione in prep_per_piatto %}
                                    {% if preparazione['piatto']['id'] == piatto.id %}
                                        {% for p in preparazione['preparazioni'] %}
                                            <option value="{{ p['fkPreparazione'] }}" 
                                                    {% if piatto.id in piatti_to_preparazioni and p['fkPreparazione'] in piatti_to_preparazioni[piatto.id] %} selected {% endif %}>
                                                {{ preparazioni_map[p['fkPreparazione']] }}
                                            </option>
                                        {% endfor %}
                                    {% endif %}
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        {% endfor %}
        
        <div>
            {% if page_permissions['/app_cucina/menu']['can_write'] %}
            <button type="submit" class="styled-button">modifica e salva</button>
            {%endif%}
            <button type="button" class="styled-button" onclick="redirectToMenu()">annulla</button>
        </div>
    </form>

    <script>
        // Funzione per mostrare una sezione specifica
        function showSection(sectionId) {
            // Nascondi tutte le sezioni
            document.querySelectorAll('.menu-section').forEach(section => {
                section.style.display = 'none';
            });

            // Mostra la sezione selezionata
            document.getElementById(sectionId).style.display = 'block';
        }

        // Chiama showSection per mostrare la sezione iniziale
        showSection('{{ tipologia_piatti[0].id }}');

        // Stampa i dati per il debug
        console.log('piattiToPreparazioni:', {{ piatti_to_preparazioni | tojson }});
        console.log('prep_associate_a_piatto:', {{ prep_per_piatto | tojson }});
        
        const piattiToPreparazioni = {{ piatti_to_preparazioni | tojson }};
        const prep_associate_a_piatto = {{ prep_per_piatto | tojson }};

        function updatePreparazioni() {
            console.log('Updating preparazioni visibility...');
            
            // Trova tutti i piatti selezionati
            const selectedPiatti = Array.from(document.querySelectorAll('input[name="piatti"]:checked')).map(cb => parseInt(cb.value));
            console.log('Selected Piatti:', selectedPiatti);

            // Mostra i contenitori per i piatti selezionati e nascondi quelli non selezionati
            document.querySelectorAll('div[id^="preparazioni-container-"]').forEach(container => {
                const piattoId = container.id.split('-')[2];
                if (selectedPiatti.includes(parseInt(piattoId))) {
                    container.style.display = 'block'; // Mostra il contenitore per i piatti selezionati
                } else {
                    container.style.display = 'none'; // Nascondi i contenitori per i piatti non selezionati
                }
            });
        }

        // Associa l'evento change ai checkbox
        document.querySelectorAll('input[name="piatti"]').forEach(checkbox => {
            checkbox.addEventListener('change', updatePreparazioni);
        });

        // Chiama updatePreparazioni al caricamento della pagina per visualizzare i contenitori appropriati
        updatePreparazioni();



        function redirectToMenu() {
            window.location.href = "{{ url_for('app_cucina.menu') }}";
        }
    </script>
{% endblock %}
