<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="csrf-token" content="{{ csrf_token() }}">
    <title>{% block title %}Gestione Cucina e Mensa Ospedaliera{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/stili.css') }}">
</head>
<body>
    <header>
        <h1>Gestione Cucina e Mensa Ospedaliera</h1>
        <div class="user-info">
            <span>Utente: <span id="username">{{ username }}</span></span>
            <a href="/app_cucina/impostazioni">Impostazioni</a>
            <form method="POST" action="{{ url_for('app_cucina.do_logout') }}" style="display: inline;">
                {{ form.hidden_tag() }}  <!-- Include il token CSRF nel modulo -->
                <button type="submit" id="logout">Logout</button>
            </form>
        </div>
    </header>
    
    <nav>
        <ul>
            {% for padre in menu_structure %}
                <li class="dropdown">
                    <a href="{{ padre['link'] }}">{{ padre['titolo'] }}</a>
                    <div class="dropdown-content">
                        {% for figlio in padre['figli'] %}
                            <div class="dropdown">
                                <a href="{{ figlio['link'] }}">{{ figlio['titolo'] }}</a>
                                <div class="dropdown-subcontent">
                                    {% for nipote in figlio['nipoti'] %}
                                        <a href="{{ nipote['link'] }}">{{ nipote['titolo'] }}</a>
                                    {% endfor %}
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </li>
            {% endfor %}
        </ul>
    </nav>

    <!-- Flash messages -->
    {% with messages = get_flashed_messages(with_categories=True) %}
        {% if messages %}
            <div class="flash-messages">
                {% for category, message in messages %}
                    <div class="flash {{ category }}">{{ message }}</div>
                {% endfor %}
            </div>
        {% endif %}
    {% endwith %}

    {% block content %}
    {% endblock %}
    
    <script>
        const token = "{{ token }}";  // Retrieves the token from Flask
    </script>
    <script type="module" src="{{ url_for('static', filename='js/apiUtils.js') }}"></script>
    <script src="{{ url_for('static', filename='js/index.js') }}"></script>
</body>
</html>
