<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/stile_login.css') }}">
</head>
<body>
    <div class="login-container">
        <h1>Login</h1>

        <!-- Flash messages -->
        {% with messages = get_flashed_messages(with_categories=True) %}
            {% if messages %}
                <div class="flash-messages">
                    {% for category, message in messages %}
                        <div class="flash {{ category }}">{{ message }}</div>
                    {% endfor %}
                </div>
            {% endif %}
        {% endwith %}

        <form method="POST" action="{{ url_for('app_cucina.login') }}" onsubmit="disableAllSubmitButtons()">
            {{ form.hidden_tag() }}
            <div>
                <label for="username">Username</label>
                {{ form.username(class="form-control") }}
            </div>
            <div>
                <label for="password">Password</label>
                {{ form.password(class="form-control") }}
            </div>
            <div>
                {{ form.submit(class="btn btn-primary") }}
            </div>
        </form>

       
        
        
        

        <button id="forgotPasswordBtn">Password Dimenticata</button>
    </div>

    <!-- Modale per la richiesta di recupero password -->
    <div id="forgotPasswordModal" class="modal">
        <div class="modal-content">
            <span class="close">&times;</span>
            <h2>Recupero Password</h2>
            <form method="POST" action="{{ url_for('app_cucina.richiesta_recupero_password') }}" onsubmit="disableAllSubmitButtons()">
                {{ form.hidden_tag() }}
                <label for="email">Inserisci la tua email</label>
                <div>
                    <input class="form-control" type="email" id="email" name="email" required style="width: calc(100% - 22px); padding: 10px; margin-bottom: 20px; border: 1px solid #ccc; border-radius: 5px;">
                </div>
                <div>
                    <button type="submit" class="btn btn-primary" style="width: 100%; padding: 10px; border: none; border-radius: 5px; background-color: #07437e; color: white; font-size: 16px; cursor: pointer;">Invia</button>
                </div>
            </form>
        </div>
    </div>

    <script src="{{ url_for('static', filename='js/index.js') }}"></script>
    <script src="{{ url_for('static', filename='js/login.js') }}"></script>
</body>
</html>
