{% extends "index.html" %}

{% block title %}
Calendario Menu - Gestione Cucina
{% endblock %}

{% block content %}
    <h1>Menu del Mese di {{ month_name }} {{ year }}</h1>
    <div class="controls-container">
        <!-- Pulsanti di navigazione del mese -->
        <form method="GET" action="{{ url_for('app_cucina.menu') }}">
            <input type="hidden" name="tipo_menu" value="{{ request.args.get('tipo_menu', '1') }}">
            <input type="hidden" name="year" value="{{ year if month > 1 else year - 1 }}">
            <input type="hidden" name="month" value="{{ month - 1 if month > 1 else 12 }}">
            <button type="submit" class="styled-button">Mese Precedente</button>
        </form>

        <form method="GET" action="{{ url_for('app_cucina.menu') }}">
            <input type="hidden" name="tipo_menu" value="{{ request.args.get('tipo_menu', '1') }}">
            <input type="hidden" name="year" value="{{ year if month < 12 else year + 1 }}">
            <input type="hidden" name="month" value="{{ month + 1 if month < 12 else 1 }}">
            <button type="submit" class="styled-button">Mese Successivo</button>
        </form>

        <label for="tipo_menu">Filtra per tipo di menu:</label>
        <form method="GET" action="{{ url_for('app_cucina.menu') }}">
            <input type="hidden" name="year" value="{{ year }}">
            <input type="hidden" name="month" value="{{ month }}">
            <select class="search-container-select-menu" id="tipo_menu" name="tipo_menu" onchange="this.form.submit()">
                {% for tipo in tipologie_menu %}
                <option value="{{ tipo.id }}" {% if request.args.get('tipo_menu', '1') == tipo.id|string %}selected{% endif %}>
                    {{ tipo.descrizione }}
                </option>
                {% endfor %}
            </select>
        </form>
   
        {% if page_permissions['/app_cucina/menu']['can_write'] %}
        <button type="button" class="styled-button" onclick="showClonaMeseForm()">Clona Mese</button>
        {% endif %}
   
    </div>
    
    <table border="1">
        <thead>
            <tr>
                <th>Data</th>
                {% for servizio in servizi %}
                <th>{{ servizio.descrizione }}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for week in full_weeks %}
                {% for day in week %}
                    {% if day %}
                        {% set current_date_str = day.strftime('%Y-%m-%d') %}
                        {% set week_number = week_numbers[(day.year, day.month, day.day)] %}
                        {% set roman_week_number = 'I' if week_number == 1 else 'II' if week_number == 2 else 'III' if week_number == 3 else 'IV' %}
                        <tr>
                            <td class="date-cell">
                                {{ current_date_str }} - {{ weekdays[day.weekday()] }}<br>
                                <div class="circle-cell">
                                    <div class="week-circle">{{ roman_week_number }}</div>
                                </div>
                            </td>
                            {% for servizio in servizi %}
                                <td class="service-cell">
                                    {% if current_date_str in menu_per_giorno %}
                                        {% set menu_item = menu_per_giorno[current_date_str] %}
                                        {% set servizio_id = menu_item.get(servizio['descrizione']) %}
                                        {% if servizio_id %}
                                            {% set piatti_by_category = {'Primi': [], 'Secondi': [], 'Contorni': [], 'Dolci': [] } %}
                                            {% set piatti_servizio = piattimenu.get(servizio_id, []) %}
                                            {% for piatto in piatti_servizio %}
                                                {% set associazione = associazione_map.get(piatto['id'], {}) %}
                                                {% if associazione['piatto'] == 1 %}
                                                    {% set _ = piatti_by_category['Primi'].append({'codice': associazione['codice'], 'preparazione': associazione['preparazione'], 'colore': 'yellow'}) %}
                                                {% elif associazione['piatto'] == 2 %}
                                                    {% set _ = piatti_by_category['Secondi'].append({'codice': associazione['codice'], 'preparazione': associazione['preparazione'], 'colore': 'brown'}) %}
                                                {% elif associazione['piatto'] == 3 %}
                                                    {% set _ = piatti_by_category['Contorni'].append({'codice': associazione['codice'], 'preparazione': associazione['preparazione'], 'colore': 'green'}) %}
                                                {% endif %}
                                            {% endfor %}
                                            
                                            <div class="menu-columns">
                                                <div class="menu-actions">
                                                    {% if page_permissions['/app_cucina/menu']['can_write'] %}
                                                        <button type="button" class="clone" onclick="prepareClone('{{ servizio_id }}')">Clona</button>
                                                        <button type="button" class="delete" onclick="deleteMenu('{{ servizio_id }}')">X</button>
                                                    {% endif %}
                                                </div>
                                                {% if page_permissions['/app_cucina/menu']['can_write'] %}
                                                    <div class="menu-columns" onclick="showMenuForm('{{ servizio_id }}')">
                                                {% endif %}
                                                    <div class="column">
                                                        <h4>Primi</h4>
                                                        <ul>
                                                            {% for piatto in piatti_by_category['Primi'] %}
                                                                <li>
                                                                    <span class="codice {{ piatto.colore }}">{{ piatto.codice }}</span>
                                                                    <span class="preparazione">{{ piatto.preparazione }}</span>
                                                                </li>
                                                            {% endfor %}
                                                        </ul>
                                                    </div>
                                                    <div class="column">
                                                        <h4>Secondi</h4>
                                                        <ul>
                                                            {% for piatto in piatti_by_category['Secondi'] %}
                                                                <li>
                                                                    <span class="codice {{ piatto.colore }}">{{ piatto.codice }}</span>
                                                                    <span class="preparazione">{{ piatto.preparazione }}</span>
                                                                </li>
                                                            {% endfor %}
                                                        </ul>
                                                    </div>
                                                    <div class="column">
                                                        <h4>Contorni</h4>
                                                        <ul>
                                                            {% for piatto in piatti_by_category['Contorni'] %}
                                                                <li>
                                                                    <span class="codice {{ piatto.colore }}">{{ piatto.codice }}</span>
                                                                    <span class="preparazione">{{ piatto.preparazione }}</span>
                                                                </li>
                                                            {% endfor %}
                                                        </ul>
                                                    </div>
                                                {% if page_permissions['/app_cucina/menu']['can_write'] %}
                                                    </div>
                                                {% endif %}
                                            </div>
                                        {% else %}
                                            Nessun menu disponibile per il giorno selezionato.
                                        {% endif %}
                                    {% else %}
                                        Nessun menu disponibile per il giorno selezionato.
                                    {% endif %}
                                </td>
                            {% endfor %}
                        </tr>
                    {% endif %}
                {% endfor %}
            {% endfor %}
        </tbody>
    </table>



  
    {% if page_permissions['/app_cucina/menu']['can_write'] %}
    <div id="clonaModal" class="modal" style="display: none;">
        <div class="modal-content">
            <span class="close" onclick="closeClonaForm()">×</span>
            <h2>Clona</h2>
            <form method="POST" action="{{ url_for('app_cucina.menu') }}">
                {{ form.hidden_tag() }}  <!-- Includi CSRF token e altri campi nascosti -->
                <input type="hidden" name="menu_id" id="menu_id_to_clone" value="">  <!-- Campo per l'ID del menu da clonare -->
                <input type="hidden" name="next_url" id="next_url" value="{{ request.args.to_dict() | urlencode }}"/>  <!-- Campo per l'URL di ritorno con parametri -->
                <div class="form-group">
                    {{ form.clone_date.label }}
                    {{ form.clone_date(class="form-control") }}
                </div>
                <div class="form-group">
                    {{ form.submit(class="btn btn-primary") }}
                    <button type="button" class="btn btn-secondary" onclick="closeClonaForm()">Annulla</button>
                </div>
            </form>
        </div>
    </div>

    <div id="clonaMeseModal" class="modal" style="display: none;">
        <div class="modal-content">
            <span class="close" onclick="closeClonaMeseModal()">×</span>
            <h2>Clona Mese</h2>
            <form method="POST" action="{{ url_for('app_cucina.menu') }}">
                {{ clona_mese.hidden_tag() }}  <!-- Includi CSRF token e altri campi nascosti -->
                <input type="hidden" name="menu_ids" value="{{ menu_ids|join(',') }}">
                <input type="hidden" name="next_url" id="clona_mese_next_url" value="{{ request.args.to_dict() | urlencode }}"/>
                <div class="form-group">
                    {{ clona_mese.clone_date.label }}
                    {{ clona_mese.clone_date(class="form-control") }}
                </div>
                <div class="form-group">
                    {{ clona_mese.submit(class="btn btn-primary") }}
                    <button type="button" class="btn btn-secondary" onclick="showClonaMeseForm()">Annulla</button>
                </div>
            </form>
        </div>
    </div>
    {% endif %}


    
    
    <script>
        function showMenuForm(id_menu) {
            if (id_menu !== 'null') {
                window.location.href = '/app_cucina/menu/dettagli/' + id_menu;
            } else {
                alert('Nessun menu disponibile.');
            }
        }

        function prepareClone(menuId) {
            // Ottieni i parametri della query string dalla URL corrente
            const urlParams = new URLSearchParams(window.location.search);
            const nextUrl = `/app_cucina/menu?${urlParams.toString()}`;
        
            // Imposta il valore del campo nascosto per l'ID del menu da clonare
            document.getElementById('menu_id_to_clone').value = menuId;
        
            // Imposta il valore del campo nascosto per l'URL di ritorno
            document.getElementById('next_url').value = nextUrl;
        
            // Mostra il modulo di clonazione
            document.getElementById('clonaModal').style.display = 'block';
        }
        
        function closeClonaForm() {
            console.log('Chiusura del popup.');
            document.getElementById('clonaModal').style.display = 'none';
        }
        
        function deleteMenu(menuId) {
            if (confirm('Sei sicuro di voler eliminare questo Menu?')) {
                // Ottieni il token CSRF dal meta tag
                const csrfToken = document.querySelector('meta[name="csrf-token"]').getAttribute('content');
                
                fetch(`/app_cucina/menu/${menuId}`, {  // Aggiungi il prefisso /app_cucina/
                    method: 'DELETE',
                    headers: {
                        'Content-Type': 'application/json',
                        'X-CSRFToken': csrfToken // Includi il token CSRF negli headers
                    }
                })
                .then(response => {
                    if (response.ok) {
                        alert('Menu eliminato con successo.');
                        location.reload();
                    } else {
                        alert('Errore durante l\'eliminazione del Menu.');
                    }
                })
                .catch(error => {
                    console.error('Errore:', error);
                    alert('Errore di rete durante l\'eliminazione del Menu.');
                });
            }
        }



        function showClonaMeseForm() {
            const urlParams = new URLSearchParams(window.location.search);
            const nextUrl = `/app_cucina/menu?${urlParams.toString()}`;
            
            document.getElementById('clona_mese_next_url').value = nextUrl;
            document.getElementById('clonaMeseModal').style.display = 'block';
        }
    
        function closeClonaMeseModal() {
            document.getElementById('clonaMeseModal').style.display = 'none';
        }
    </script>
    
{% endblock %}
