{% extends "index.html" %}

{% block title %}
schedePiatti - Gestione Cucina e Mensa Ospedaliera
{% endblock %}

{% block content %}
<div class="popup">
    <div class="popup-header">
        <h2>
            {{ info_servizio.descrizione }}, {{ info_reparto.codiceAreas }}, {{ info_reparto.descrizione }}
        </h2>
        <h2 style="width: 400px; height: 30px; background-color: {{ scheda.backgroundColor }}; border-radius: 5px; border: 1px solid black; text-align: center; line-height: 30px; margin: 0;">
            {{ tipi_menu_map[scheda.fkTipoMenu] }}
        </h2>
    </div>
    <form method="POST" action="{{ url_for('app_cucina.ordine_schede_dipendente', id=id, servizio=info_servizio.id, reparto=info_reparto.id, scheda=scheda.id, ordine_id=ordine_id) }}" >
        {{ form.hidden_tag() }}

        <div class="form-row-ordiniPiatti">
            <div class="form-group-ordiniPiatti">
                Nome: {{ nome }}
            </div>

            <div class="form-group-ordiniPiatti">
                Cognome: {{ cognome }}
            </div> 

            <div class="form-group-ordiniPiatti">
                {{ form.note.label(class="form-label-ordiniPiatti") }}
                {{ form.note(class="form-control-ordiniPiatti", value=info_utente.note) }}
            </div>
        </div>

        <div class="popup-content">
            <div class="popup-grid">
                {% for scheda_piatto in schedePiatti %}
                {% if scheda_piatto.fkPiatto in piatti_map %}
                {% set piatto = piatti_map[scheda_piatto.fkPiatto] %}
                <div class="popup-item" data-id="{{ piatto.id }}" data-type="{{ piatto.fkTipoPiatto }}" onclick="toggleSelection(this, {{ piatto.id }})">
                    <span class="item-id">{{ piatto.codice }}</span>
                    <div class="item-name">{{ piatto.titolo }}</div>
                </div>     
                {% else %}
                <div class="popup-item unknown"></div>
                {% endif %}
                {% endfor %}
            </div>

            <div class="popup-custom-column">
                {% for scheda_piatto in schedeDolci %}
                {% if scheda_piatto.fkPiatto in piatti_map %}
                {% set piatto = piatti_map[scheda_piatto.fkPiatto] %}
                <div class="popup-custom-column-item" data-id="{{ piatto.id }}" data-type="{{ piatto.fkTipoPiatto }}" onclick="toggleSelection(this, {{ piatto.id }})">
                    <span class="item-id">{{ piatto.codice }}</span>
                    <div class="item-name">{{ piatto.titolo }}</div>
                </div>       
                {% else %}
                <div class="popup-custom-column-item unknown"></div>
                {% endif %}
                {% endfor %}
            </div>
        </div>
        


            <button type="button" class="styled-button" onclick="showLoadingSpinner(),window.location.href='{{ url_for('app_cucina.ordina_pasto') }}'" >Annulla</button>
            {{ form.submit(class="styled-button", id="submitButton", disabled="disabled", onclick="showLoadingSpinner()") }}


        <input type="hidden" id="piattiList" name="piattiList">
        <input type="hidden" name="ordine_id" id="ordineId" value="{{ ordine_id }}">
    </form>
</div>

<script>
    const selectedItems = [];

    {% for piatto in info_piatti %}
        selectedItems.push({ fkPiatto: {{ piatto.fkPiatto }}, quantita: {{ piatto.quantita }}, note: "{{ piatto.note }}" });
    {% endfor %}
    
    function toggleSelection(element, piattoId) {
        const piattoType = element.getAttribute('data-type'); // Ottieni il tipo del piatto
    
        // Se l'elemento cliccato è già selezionato, deselezionalo e rimuovilo dalla lista
        if (element.classList.contains('selezionato')) {
            element.classList.remove('selezionato');
            const index = selectedItems.findIndex(selectedItem => selectedItem.fkPiatto === piattoId);
            if (index > -1) {
                selectedItems.splice(index, 1); // Rimuovi dalla lista dei selezionati
            }
        } else {
            // Deseleziona automaticamente tutti i piatti dello stesso tipo
            const itemsToDeselect = Array.from(document.querySelectorAll(`.popup-item[data-type="${piattoType}"], .popup-custom-column-item[data-type="${piattoType}"]`));
            itemsToDeselect.forEach(item => {
                item.classList.remove('selezionato');
                const idToRemove = parseInt(item.getAttribute('data-id'));
                const indexToRemove = selectedItems.findIndex(selectedItem => selectedItem.fkPiatto === idToRemove);
                if (indexToRemove > -1) {
                    selectedItems.splice(indexToRemove, 1); // Rimuovi tutti gli altri piatti dello stesso tipo
                }
            });
    
            // Seleziona il nuovo piatto
            element.classList.add('selezionato');
            selectedItems.push({ fkPiatto: piattoId, quantita: 1, note: "" }); // Aggiungi il piatto corrente alla lista
        }
    
        // Aggiorna il campo nascosto e il pulsante di invio
        updateHiddenField();
        toggleSubmitButton();
    }
    
    
    // Funzione per aggiornare il campo nascosto
    function updateHiddenField() {
        document.getElementById('piattiList').value = JSON.stringify(selectedItems);
    }

    // Funzione per attivare/disattivare il bottone di invio
    function toggleSubmitButton() {
        const submitButton = document.getElementById('submitButton');
        submitButton.disabled = selectedItems.length === 0; // Disattiva il pulsante se non ci sono piatti selezionati
    }
    
    // Inizializza la selezione all'apertura del popup
    document.querySelectorAll('.popup-item, .popup-custom-column-item').forEach(item => {
        const piattoId = parseInt(item.getAttribute('data-id'));
        if (selectedItems.find(item => item.fkPiatto === piattoId)) {
            item.classList.add('selezionato');
        }
    });
</script>
{% endblock %}
