{% extends "index.html" %}

{% block title %}
Ordini - Gestione Cucina
{% endblock %}
{% block content %}
<h1 class="controls-container">Ordini Dipendenti  </h1>

<!-- Contenitore per i pulsanti e i form -->
<div class="controls-container">
    <!-- Pulsanti di navigazione del giorno -->
    <form method="GET" action="{{ url_for('app_cucina.ordini_dipendenti') }}">
        <input type="hidden" name="servizio" value="{{ request.args.get('servizio', '1') }}">
        {% set prev_day = day - 1 %}
        {% set prev_month = month %}
        {% set prev_year = year %}
        {% if prev_day < 1 %}
            {% set prev_month = month - 1 %}
            {% if prev_month < 1 %}
                {% set prev_month = 12 %}
                {% set prev_year = year - 1 %}
            {% endif %}
            {% if prev_month in [1, 3, 5, 7, 8, 10, 12] %}
                {% set prev_day = 31 %}
            {% elif prev_month in [4, 6, 9, 11] %}
                {% set prev_day = 30 %}
            {% elif prev_month == 2 %}
                {% if (prev_year % 4 == 0 and prev_year % 100 != 0) or (prev_year % 400 == 0) %}
                    {% set prev_day = 29 %}
                {% else %}
                    {% set prev_day = 28 %}
                {% endif %}
            {% endif %}
        {% endif %}
        <input type="hidden" name="day" value="{{ prev_day }}">
        <input type="hidden" name="month" value="{{ prev_month }}">
        <input type="hidden" name="year" value="{{ prev_year }}">
        <button type="submit" class="icon-freccia-sx" title="giono precedente" onclick="showLoadingSpinner()"></button>
    </form>
    <h2>{{ day }}/{{ month }}/{{ year }}  </h2>

    <form method="GET" action="{{ url_for('app_cucina.ordini_dipendenti') }}">
        <input type="hidden" name="servizio" value="{{ request.args.get('servizio', '1') }}">
        {% set next_day = day + 1 %}
        {% set next_month = month %}
        {% set next_year = year %}
        {% if next_day > 31 %}
            {% set next_day = 1 %}
            {% set next_month = month + 1 %}
            {% if next_month > 12 %}
                {% set next_month = 1 %}
                {% set next_year = year + 1 %}
            {% endif %}
        {% endif %}
        {% if next_month in [1, 3, 5, 7, 8, 10, 12] %}
            {% if next_day > 31 %}
                {% set next_day = 1 %}
                {% set next_month = next_month + 1 %}
                {% if next_month > 12 %}
                    {% set next_month = 1 %}
                    {% set next_year = next_year + 1 %}
                {% endif %}
            {% endif %}
        {% elif next_month in [4, 6, 9, 11] %}
            {% if next_day > 30 %}
                {% set next_day = 1 %}
                {% set next_month = next_month + 1 %}
                {% if next_month > 12 %}
                    {% set next_month = 1 %}
                    {% set next_year = next_year + 1 %}
                {% endif %}
            {% endif %}
        {% elif next_month == 2 %}
            {% if (next_year % 4 == 0 and next_year % 100 != 0) or (next_year % 400 == 0) %}
                {% if next_day > 29 %}
                    {% set next_day = 1 %}
                    {% set next_month = next_month + 1 %}
                    {% if next_month > 12 %}
                        {% set next_month = 1 %}
                        {% set next_year = next_year + 1 %}
                    {% endif %}
                {% endif %}
            {% else %}
                {% if next_day > 28 %}
                    {% set next_day = 1 %}
                    {% set next_month = next_month + 1 %}
                    {% if next_month > 12 %}
                        {% set next_month = 1 %}
                        {% set next_year = next_year + 1 %}
                    {% endif %}
                {% endif %}
            {% endif %}
        {% endif %}
        <input type="hidden" name="day" value="{{ next_day }}">
        <input type="hidden" name="month" value="{{ next_month }}">
        <input type="hidden" name="year" value="{{ next_year }}">
        <button type="submit" class="icon-freccia-dx" title="giorno successivo" onclick="showLoadingSpinner()"></button>   
    </form>

    <!-- Filtra per servizio -->
    <form method="GET" action="{{ url_for('app_cucina.ordini_dipendenti') }}">
        <input type="hidden" name="day" value="{{ day }}">
        <input type="hidden" name="year" value="{{ year }}">
        <input type="hidden" name="month" value="{{ month }}"> 
        <label for="servizio">Filtra per servizio:</label>
        <select class="search-container-select-menu" id="servizio" name="servizio" onchange="this.form.submit()">
            {% for servizio in servizio %}
            <option value="{{ servizio.id }}" {% if request.args.get('servizio', '1') == servizio.id|string %}selected{% endif %}>
                {{ servizio.descrizione }}
            </option>
            {% endfor %}
        </select>
    </form>
    
    
    {% if page_permissions['/app_cucina/ordini']['can_write'] %}
        <div class="dropdown-container">
            <select id="printOptions" onchange="handlePrintOption()">
                <option value="">Seleziona un'opzione di stampa</option>
                <option value="schede">Stampa schede</option>
                <option value="prospetto">Prospetto ordini</option>
                <option value="pagina">Stampa pagina</option>
            </select>
        </div>
    
    {% endif %}
    


    
</div>

<div class="controls-container">
    <div class="col-12">
        <div class="table-responsive">
            <table class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th class="rotated-header"> Reparto</th>
                        {% for scheda in schede_attive %}
                        <th class="rotated-header" style="background-color: {{ scheda.backgroundColor }};">
                            <div>{{ scheda.nome }}</div>
                            <div>{{ scheda.titolo }}</div>
                        </th>
                        {% endfor %}
                        <th class="rotated-header"> Totali reparti</th>
                    </tr>
                </thead>
                <tbody id="schedeTableBody">
                    {% for reparto in reparti %}
                    <tr>
                        <td>{{ reparto.descrizione }}</td>

                        {% for scheda in schede_attive %}
                        <td onclick="showLoadingSpinner();showForm('{{ ordine_esistente.id }}','{{ servizio_corrente }}', '{{ reparto.id }}', '{{ scheda.id }}')">
                            {{ schede_count[reparto.id][scheda.id] if schede_count[reparto.id] and scheda.id in schede_count[reparto.id] else 0 }}
                        </td>
                        {% endfor %}
                        <td>{{ reparti_totals[reparto.id] }}</td>
                    </tr>
                    {% endfor %}
                    <tr>
                        <td>Totali Schede</td>
                        {% for scheda in schede_attive %}
                        <td>{{ schede_totals[scheda.id] }}</td>
                        {% endfor %}
                        <td>{{ total_general }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<!-- Calendario FullCalendar -->
<div id="calendar"></div>

<script>

    function handlePrintOption() {
        var select = document.getElementById("printOptions");
        var selectedValue = select.value;
        var ordineId = {{ ordine_esistente.id }};
    
        if (selectedValue === "schede") {
            printPage(ordineId);
        } else if (selectedValue === "prospetto") {
            printProspetto(ordineId);
        } else if (selectedValue === "pagina") {
            priint();
        }
    }
    
</script>

<script src="{{ url_for('static', filename='js/ordini_dipendenti.js') }}"></script>

{% endblock %}
