{% extends "index.html" %}

{% block title %}
schedePiatti - Gestione Cucina e Mensa Ospedaliera
{% endblock %}

{% block content %}
<div class="popup">
    <div class="popup-header">
        <h2>
            {{ info_servizio.descrizione }}, {{ info_reparto.codiceAreas }}, {{ info_reparto.descrizione }}
        </h2>
        <h2 style="width: 400px; height: 30px; background-color: {{ scheda.backgroundColor }}; border-radius: 5px; border: 1px solid black; text-align: center; line-height: 30px; margin: 0; ">
            {{ scheda.nome }} - {{scheda.titolo}}
        </h2>
        {% if ordine_id %}
        <div class="icon-bidone-ordine" onclick="elimina('{{ ordine_id }}')" title='Elimina Ordine'></div>
        
        {% endif %}
    </div>
    <form method="POST" action="{{ url_for('app_cucina.ordine_schede_piatti', id=id, servizio=info_servizio.id, reparto=info_reparto.id, scheda=scheda.id) }}" onsubmit="disableAllSubmitButtons()">
        {{ form.hidden_tag() }}
    
        <div class="form-row-ordiniPiatti">
            <div class="form-group-ordiniPiatti">
                {{ form.nome.label(class="form-label-ordiniPiatti") }}
                {{ form.nome(class="form-control-ordiniPiatti", value=info_utente.nome if info_utente else '') }}
            </div>
    
            <div class="form-group-ordiniPiatti">
                {{ form.cognome.label(class="form-label-ordiniPiatti") }}
                {{ form.cognome(class="form-control-ordiniPiatti", value=info_utente.cognome if info_utente else '') }}
            </div>
    
            <div class="form-group-ordiniPiatti">
                {{ form.letto.label(class="form-label-ordiniPiatti") }}
                {{ form.letto(class="form-control-ordiniPiatti", value=info_utente.letto if info_utente else '') }}
            </div>
    
            <div class="form-label-ordiniPiatti">
                {{ form.note.label(class="form-label-ordiniPiatti") }}
                {{ form.note(class="form-control-ordiniPiatti", value=info_utente.note if info_utente else '') }}
            </div>
    
            <select class="form-group-schede-preconfezionate">
                <option value="">Seleziona scheda</option>
                {% for preconfezionata in preconfezionate %}
                <option value="{{ preconfezionata.id }}">{{ preconfezionata.descrizione }}</option>
                {% endfor %}
            </select>

        </div>

    
        <div class="popup-content">
            <div class="popup-grid">
                {% for scheda_piatto in schedePiatti %}
                    {% if scheda_piatto.fkPiatto in piatti_map %}
                        {% set piatto = piatti_map[scheda_piatto.fkPiatto] %}
                        {% set calorie_info = prep_calorie_data.get(piatto.id, {}) %}
                        {% set calorie = calorie_info.get('calorie_totali', 0) %}
                        {% set allergeni = calorie_info.get('allergeni', None) %}
                        
                        <div class="popup-item" data-id="{{ piatto.id }}" 
                            data-calorie="{{ calorie }}"  
                            onclick="toggleSelection(this, {{ piatto.id }}, {{ calorie }})">
                            
                            <span class="item-id">{{ piatto.codice }}</span>
                            <div class="item-name">{{ piatto.titolo }}</div>
                            
                            <div class="tooltip">
                                Calorie: {{ calorie }} Kcal | Allergeni: 
                                {% if allergeni is not none %}
                                    {% set allergene_ids = allergeni.split(',') %}
                                    {% for id in allergene_ids %}
                                        {{ allergeni_map[id.strip()] }}{% if not loop.last %}, {% endif %}
                                    {% endfor %}
                                {% else %}
                                    Nessun allergene
                                {% endif %}
                            </div>
                        </div>       
                    {% else %}
                        <div class="popup-item unknown"></div>
                    {% endif %}
                {% endfor %}
            </div>
        
            <div class="popup-custom-column">
                {% for scheda_piatto in schedeDolci %}
                    {% if scheda_piatto.fkPiatto in piatti_map %}
                        {% set piatto = piatti_map[scheda_piatto.fkPiatto] %}
                        {% set calorie_info = prep_calorie_data.get(piatto.id, {}) %}
                        {% set calorie = calorie_info.get('calorie_totali', 0) %}
                        {% set allergeni = calorie_info.get('allergeni', None) %}
                        
                        <div class="popup-custom-column-item" data-id="{{ piatto.id }}" 
                            data-calorie="{{ calorie }}" 
                            onclick="toggleSelection(this, {{ piatto.id }}, {{ calorie }})">
                            
                            <span class="item-id">{{ piatto.codice }}</span>
                            <div class="item-name">{{ piatto.titolo }}</div>
                            
                            <div class="tooltip">
                                Calorie: {{ calorie }} | Allergeni: 
                                {% if allergeni is not none %}
                                    {% set allergene_ids = allergeni.split(',') %}
                                    {% for id in allergene_ids %}
                                        {{ allergeni_map[id.strip()] }}{% if not loop.last %}, {% endif %}
                                    {% endfor %}
                                {% else %}
                                    Nessun allergene
                                {% endif %}
                            </div>
                        </div>       
                    {% else %}
                        <div class="popup-custom-column-item unknown"></div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
        
        <div clas="fluid">
            
                <!-- Bottone Precedente -->
            <a href="{{ url_for('app_cucina.ordine_schede_piatti', id=id, servizio=info_servizio.id, reparto=info_reparto.id, scheda=scheda.id, ordine_id=prev_order_id) }}" 
                class="{% if prev_order_id %}enabled{% else %}disabled{% endif %}" 
                id="prev-button">
                <button type="button" class="icon-freccia-sx" {% if not prev_order_id %}disabled{% endif %} onclick="showLoadingSpinner()"></button>
            </a>
            
            <!-- Info Scheda -->
            <span class="scheda-info">{{ current_scheda_index }} / {{ total_schede }}</span>
            
            <!-- Bottone Successivo -->
            <a href="{{ url_for('app_cucina.ordine_schede_piatti', id=id, servizio=info_servizio.id, reparto=info_reparto.id, scheda=scheda.id, ordine_id=next_order_id) }}" 
                class="{% if next_order_id %}enabled{% else %}disabled{% endif %}" 
                id="next-button">
                <button type="button" class="icon-freccia-dx"  {% if not next_order_id %}disabled{% endif %}n onclick="showLoadingSpinner()"></button>
            </a>
        
            
            <a href="{{ url_for('app_cucina.ordine_schede_piatti', id=id, servizio=info_servizio.id, reparto=info_reparto.id, scheda=scheda.id) }}">
                <button type="button" class="styled-button" onclick="showLoadingSpinner()">Nuova Scheda</button>
            </a>

            <a href="{{ url_for('app_cucina.ordini', year=year, month=month, day=day, servizio=servizio) }}">
                <button type="button" class="styled-button" onclick="showLoadingSpinner()">Annulla Ordine</button>
            </a>

            {{ form.submit(class="styled-button", id="submitButton", disabled="disabled", onclick="showLoadingSpinner()") }}
            
        <!-- Totale Calorie -->
            <div id="totaleCalorie" style="totaleCalorie">
                Totale Kcal: <span id="calorieTotali">0</span>
            </div>

        </div>    
        
        <input type="hidden" id="piattiList" name="piattiList">
        <input type="hidden" name="ordine_id" id="ordineId" value="{{ ordine_id }}">
    </form>
</div>

<script>


    let selectedItems = []; 
    let totalCalories = 0; // Variabile per tenere traccia delle calorie totali


document.addEventListener('DOMContentLoaded', function() {
    const prevButton = document.getElementById('prev-button');
    const nextButton = document.getElementById('next-button');

    // Disabilita i bottoni se non ci sono ordini precedenti o successivi
    if (!{{ prev_order_id|default('') }}) {
        prevButton.classList.add('disabled');
    }
    if (!{{ next_order_id|default('') }}) {
        nextButton.classList.add('disabled');
    }
});



document.addEventListener('DOMContentLoaded', function() {
    const schedePreconfezionateSelect = document.querySelector('.form-group-schede-preconfezionate');
    const prep_calorie_data = {{ prep_calorie_data | tojson }};
    let selectedItems = [];
    let totalCalories = 0;

    schedePreconfezionateSelect.addEventListener('change', function() {
        const selectedId = this.value;
        selectedItems = []; // Reset selectedItems on each selection
        totalCalories = 0; // Reset totalCalories on each selection

        if (selectedId) {

            schedePreconfezionateSelect.disabled = true; 
            schedePreconfezionateSelect.classList.add('disabled'); // Optional: add a CSS class for styling
            
            fetch(`/app_cucina/ordini/scheda_preconfezionata/${selectedId}`)
                .then(response => {
                    if (!response.ok) {
                        throw new Error('Network response was not ok');
                    }
                    return response.json();
                })
                .then(info_piatti => {


                    // Populate selectedItems with fetched dishes
                    info_piatti.forEach(piatto => {
                        const calorieInfo = prep_calorie_data[piatto.fkPiatto] || {};
                        const calorie = (calorieInfo.calorie_totali !== undefined && calorieInfo.calorie_totali !== 'Non disponibili') 
                            ? calorieInfo.calorie_totali 
                            : 0;

                        // Add dish to selectedItems
                        selectedItems.push({
                            fkPiatto: piatto.fkPiatto,
                            quantita: piatto.quantita,
                            note: piatto.note,
                            calorie: calorie
                        });

                        // Add to total calories
                        totalCalories += calorie;

                        // Select visual elements for the dish and call toggleSelection
                        const piattoElements = document.querySelectorAll(`.popup-item[data-id="${piatto.fkPiatto}"], .popup-custom-column-item[data-id="${piatto.fkPiatto}"]`);
                        piattoElements.forEach(piattoElement => {
                            if (piattoElement) {
                                toggleSelection(piattoElement, piatto.fkPiatto);
                            }
                        });
                    });

                    console.log(selectedItems); // Logs selected items to the console
                    console.log(`Total Calories: ${totalCalories}`); // Logs total calories
                    updateHiddenField(); // Update hidden field with selected items
                    updateTotalCaloriesDisplay(); // Update the total calories display
                })
                .catch(error => console.error('Errore:', error));
        }
    });
});





{% for piatto in info_piatti %}
    {% set calorie_info = prep_calorie_data.get(piatto.fkPiatto, {}) %}
    {% set calorie = calorie_info.calorie_totali if calorie_info.calorie_totali is not none and calorie_info.calorie_totali != 'Non disponibili' else 0 %}
    selectedItems.push({
        fkPiatto: {{ piatto.fkPiatto }},
        quantita: {{ piatto.quantita }},
        note: "{{ piatto.note }}",
        calorie: {{ calorie }}
    });
    totalCalories += {{ calorie }}; // Aggiungi le calorie alla somma totale
{% endfor %}  


// Funzione per aggiornare il campo nascosto
function updateHiddenField() {
    document.getElementById('piattiList').value = JSON.stringify(selectedItems);
}

</script>
<script src="{{ url_for('static', filename='js/ordine_schede_piatti.js') }}"></script>

{% endblock %}
