{% extends "index.html" %}

{% block title %}
preparazioni - Gestione Cucina e Mensa Ospedaliera
{% endblock %}

{% block content %}
<div class="container">
    <div class="search-container">
        <div>
            <input type="text" id="searchName" placeholder="Cerca per nome...">
            <select id="searchType">
                <option value="">Seleziona tipo Preparazione</option>
                {% for tipoPreparazione in tipiPreparazioni %}
                <option value="{{ tipoPreparazione.id }}">{{ tipoPreparazione.descrizione }}</option>
                {% endfor %}
            </select>
        </div>
        {% if page_permissions['/app_cucina/preparazioni']['can_write'] %}
        <button onclick="showAddPreparazioniForm()">Aggiungi Preparazione</button>
        {% endif %}
    </div>

    <table class="table table-bordered table-striped">
        <thead>
            <th></th>
            {% if page_permissions['/app_cucina/preparazioni']['can_write'] %}
            <th></th>
            {% endif %}
                <th>Descrizione</th>
                <th>Tipo Preparazione</th>
                <th>Estivo</th>
                <th>Invernale</th>
                {% if page_permissions['/app_cucina/preparazioni']['can_write'] %}
                <th></th>
                {% endif %}
            </tr>
        </thead>
        <tbody id="preparazioniTableBody">
            {% for preparazione in preparazioni %}

            <tr class="{% if preparazione.id in preparazioni_senza_ingredienti %}warning{% endif %}" 
                {% if preparazione.id in preparazioni_senza_ingredienti %} title="Preparazione senza ingredienti"{% endif %}>
                <td> <div class="icon-controlla" onclick="visualizaPrep({{ preparazione.id }})"title="visualizza preparazione"></div></td>
                {% if page_permissions['/app_cucina/preparazioni']['can_write'] %}
                <td> <div class="icon-pencil" onclick="showModificaPreparazioneForm({{ preparazione.id }})"title="modifica preparazione"></div></td>
                {% endif %}
                <td>{{ preparazione.descrizione }}</td>
                <td>{{ TipoPreparazione_map[preparazione.fkTipoPreparazione] }}</td>
                <td>
                    <input type="checkbox" disabled {% if preparazione.isEstivo %}checked{% endif %}>
                </td>
                <td>
                    <input type="checkbox" disabled {% if preparazione.isInvernale %}checked{% endif %}>
                </td>
                {% if page_permissions['/app_cucina/preparazioni']['can_write'] %}
                <td><div class="icon-cancella" onclick="elimina({{ preparazione.id }})" title='Elimina preparazione'></div></td>                      
                {% endif %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% if page_permissions['/app_cucina/preparazioni']['can_write'] %}

<!-- Modal Structure -->
<div id="ingredientsModal" class="modal" style="display: none;">
    <div class="modal-content">

        <h2>Ingredienti</h2>
        <div id="ingredientsList"></div>
    </div>
</div>

<!-- Modal Structure -->
<div id="preparazioneModal" class="modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <span class="close" onclick="closeModal()" aria-label="Chiudi">&times;</span>
            <h2 class="modal-title">Aggiungi Preparazione</h2>
            <form id="PreparazioniForm"method="POST" enctype="multipart/form-data" onsubmit="disableAllSubmitButtons()">
                {{ form.hidden_tag() }}

                <div class="modal-body">
                    <!-- Existing fields for preparazione details -->
                    <div class="form-group">
                        {{ form.fkTipoPreparazione.label(class="form-label") }}
                        {{ form.fkTipoPreparazione(class="form-control", id="fkTipoPreparazioneSelect") }}
                        {% for error in form.fkTipoPreparazione.errors %}
                            <span class="text-danger">{{ error }}</span>
                        {% endfor %}
                    </div>
                    
                    <div class="form-group" id="piattoSection" style="display: none;">
                        <label for="titoloSelect" class="form-label">Tipo Piatto</label>
                        <select id="titoloSelect" name="titolo" class="form-control">
                            <!-- Le opzioni saranno popolate dinamicamente tramite JavaScript -->
                        </select>
                    </div>
                    

                    <div class="form-group">
                        {{ form.descrizione.label(class="form-label") }}
                        {{ form.descrizione(class="form-control") }}
                        {% for error in form.descrizione.errors %}
                            <span class="text-danger">{{ error }}</span>
                        {% endfor %}
                    </div>
                    <div class="row">
                        <div class="col-md-6"> 
                            <div class="form-group d-flex align-items-center">
                                {{ form.isEstivo(class="form-group-allergene checkbox-large") }}
                                {{ form.isEstivo.label(class="ms-2") }}
                            </div>
                            
                            <div class="form-group mt-3"> 
                                <label class="form-label text-start">{{ form.inizio.label }}</label> <!-- Allinea a sinistra -->
                                {{ form.inizio(class="form-control", type="date") }}
                                {% for error in form.inizio.errors %}
                                    <span class="text-danger">{{ error }}</span>
                                {% endfor %}
                            </div>
                            
                            
                            
                            
                            
                        </div>
                        <div class="col-md-6"> 
                            <div class="form-group d-flex align-items-center">
                                {{ form.isInvernale(class="form-group-allergene checkbox-large") }} <!-- Checkbox con margine sinistro -->
                                {{ form.isInvernale.label (class="ms-2")}} <!-- Etichetta senza margine inferiore -->
                            </div>
                            <div class="form-group mt-3">
                                {{ form.fine.label(class="form-label ms-2") }}
                                {{ form.fine (class="form-control") }}
                                {% for error in form.fine.errors %}
                                    <span class="text-danger">{{ error }}</span>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                        <div class="form-group mt-3">
                            {{ form.immagine.label(class="form-label") }}
                            {{ form.immagine(class="form-control-file") }}
                            {% for error in form.immagine.errors %}
                                <span class="text-danger">{{ error }}</span>
                            {% endfor %}
                        </div>

                        <!-- Single ingredient input section -->
                        <div class="form-group mt-5">
                            {{ alimform.fkAlimento.label(class="form-label") }}
                            {{ alimform.fkAlimento(class="form-control") }}
                            {% for error in alimform.fkAlimento.errors %}
                                <span class="text-danger">{{ error }}</span>
                            {% endfor %}

                            {{ alimform.quantita.label(class="form-label") }}
                            {{ alimform.quantita(class="form-control") }}
                            {% for error in alimform.quantita.errors %}
                                <span class="text-danger">{{ error }}</span>
                            {% endfor %}

                            {{ alimform.fkTipoQuantita.label(class="form-label") }}
                            {{ alimform.fkTipoQuantita(class="form-control") }}
                            {% for error in alimform.fkTipoQuantita.errors %}
                                <span class="text-danger">{{ error }}</span>
                            {% endfor %}

                            {{ alimform.note.label(class="form-label") }}
                            {{ alimform.note(class="form-control") }}
                            {% for error in alimform.note.errors %}
                                <span class="text-danger">{{ error }}</span>
                            {% endfor %}
                        </div>

                        <button type="button" class="btn btn-secondary mt-3" onclick="addAlimento()">Aggiungi Alimento</button>
                    </div>

                    <div class="modal-body">
                        <!-- Ingredient list section -->
                        <h5>Ingredienti Aggiunti</h5>
                        <ul id="ingredientList" class="list-group"></ul>
                        <input type="hidden" id="ingredientListInput" name="ingredientList">
                    </div>

                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary">Aggiungi</button>
                        <button type="button" class="btn btn-secondary" onclick="closeModal()">Annulla</button>
                    </div>
                </form>
            </div>
        </div>    
    </div>
</div>


<!-- Modale -->>
<div class="modal fade" id="dettagliModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Dettagli Preparazione</h5>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            
            <div class="modal-body">
                <p><strong>Descrizione:</strong> <span id="preparazioneDescrizione"></span></p>
                <!-- Altri dettagli qui -->
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Chiudi</button>
            </div>
        </div>
    </div>
</div>

{% endif %}


<script>
function setPreparazioneDetails(id, descrizione, tipo, estivo, invernale, dataInserimento, immagine) {
    document.getElementById('preparazioneDescrizione').innerText = descrizione;
    // Imposta altri dettagli
}

    let ingredientList = [];

    const preparazioni = {{ preparazioni | tojson }};


    // Mappa degli alimenti
    const alimento_map = {
        {% for alimento in alimenti %}
        {{ alimento.id }}: "{{ alimento.alimento }}",
        {% endfor %}
    };
    
    // Mappa dei tipi di quantità
    const tipo_map = {
        {% for tipo in tipi_quantita %}
        {{ tipo.id }}: "{{ tipo.tipo }}",
        {% endfor %}
    };
    
    // Funzione per aggiungere un alimento
    function addAlimento() {
        const fkAlimento = parseInt(document.querySelector('select[name="fkAlimento"]').value);
        const quantita = parseFloat(document.querySelector('input[name="quantita"]').value); // Assicurati che sia float
        const fkTipoQuantita = parseInt(document.querySelector('select[name="fkTipoQuantita"]').value);
        const note = document.querySelector('input[name="note"]').value;
    
        // Controllo per campi vuoti
        if (!fkAlimento || isNaN(quantita) || !fkTipoQuantita) {
            alert('Per favore, riempi tutti i campi richiesti.');
            return;
        }
    
        // Aggiungi l'ingrediente alla lista
        ingredientList.push({
            fkAlimento: fkAlimento,
            quantita: quantita,
            fkTipoQuantita: fkTipoQuantita,
            note: note
        });
    
        // Aggiorna la lista visualizzata
        updateIngredientList();
    }
    
    // Funzione per aggiornare la lista degli ingredienti
    function updateIngredientList() {
        const ingredientListElement = document.getElementById('ingredientList');
        ingredientListElement.innerHTML = '';
        
        // Log per vedere la lista degli ingredienti completa
        console.log('ingredientList:', ingredientList);
        
        ingredientList.forEach((ingredient, index) => {
            let nomeIngrediente;
            const isPreparazioneBase = ingredient.fkAlimento >= 100000;
    
            // Log per vedere se l'ingrediente è considerato una preparazione di base
            console.log(`Ingrediente #${index}`, ingredient);
            console.log(`isPreparazioneBase:`, isPreparazioneBase);
            
            if (isPreparazioneBase) {
                const idPreparazioneReale = ingredient.fkAlimento - 100000;
                // Log per vedere l'ID reale della preparazione
                console.log('idPreparazioneReale:', idPreparazioneReale);
                
                // Cerca la preparazione nell'elenco delle preparazioni
                const preparazione = preparazioni.find(prep => prep.id === idPreparazioneReale);
                
                if (preparazione) {
                    nomeIngrediente = `Preparazione di base: ${preparazione.descrizione}`;
                    // Log per verificare se la descrizione della preparazione è corretta
                    console.log('Preparazione trovata:', preparazione.descrizione);
                } else {
                    nomeIngrediente = `Preparazione non trovata (${idPreparazioneReale})`;
                    // Log per il caso in cui la preparazione non venga trovata
                    console.log('Preparazione non trovata per ID:', idPreparazioneReale);
                }
            } else {
                // Usa il nome dell'alimento normale
                nomeIngrediente = alimento_map[ingredient.fkAlimento];
                // Log per vedere il nome dell'alimento
                console.log('Nome alimento:', nomeIngrediente);
            }
    
            const quantita = ingredient.quantita;
            const tipoQuantita = tipo_map[ingredient.fkTipoQuantita];
    
            // Log per verificare quantità e tipo di quantità
            console.log('Quantità:', quantita);
            console.log('Tipo Quantità:', tipoQuantita);
    
            // Crea l'elemento della lista
            const listItem = document.createElement('li');
            listItem.className = 'list-group-item';
            listItem.innerHTML = `
                <div>${nomeIngrediente}</div>
                <div>${quantita} ${tipoQuantita}</div>
                <div>${ingredient.note}</div>
                <span class="icon-cancella" onclick="removeAlimento(${index})" title='Elimina ingrediente'></span>
            `;
            ingredientListElement.appendChild(listItem);
        });
    
        // Log finale per l'input nascosto
        console.log('ingredientListInput value:', JSON.stringify(ingredientList));
        
        document.getElementById('ingredientListInput').value = JSON.stringify(ingredientList);
    }
    
    
    
    
    // Funzione per rimuovere un alimento dalla lista
    function removeAlimento(index) {
        ingredientList.splice(index, 1);
        updateIngredientList();
    }
    


    document.addEventListener('DOMContentLoaded', function() {
        const searchNameInput = document.getElementById('searchName');
        const searchTypeSelect = document.getElementById('searchType');
        const preparazioniTableBody = document.getElementById('preparazioniTableBody');



        function filterTable() {
            const searchName = searchNameInput.value.toLowerCase();
            const searchType = searchTypeSelect.value;

            const rows = preparazioniTableBody.getElementsByTagName('tr');

            for (let i = 0; i < rows.length; i++) {
                const row = rows[i];
                const descrizione = row.cells[2].textContent.toLowerCase();
                const tipo = row.cells[3].textContent;

                const matchesName = descrizione.includes(searchName);
                const matchesType = searchType === '' || tipo === searchTypeMap[searchType];

                if (matchesName && matchesType) {
                    row.style.display = '';
                } else {
                    row.style.display = 'none';
                }
            }
        }
            /* eslint-disable */
        // Crea una mappa per le tipologie
        const searchTypeMap = {};
        {% for tipoPreparazione in tipiPreparazioni %}
        searchTypeMap["{{ tipoPreparazione.id }}"] = "{{ tipoPreparazione.descrizione }}";
        {% endfor %}
            /* eslint-enable */       
        // Event listener per i filtri
        searchNameInput.addEventListener('input', filterTable);
        searchTypeSelect.addEventListener('change', filterTable);
    });


    function showAddPreparazioniForm() {
        document.getElementById('preparazioneModal').style.display = 'block';
    }
    
    function closeModal() {
        // Nascondi il modale
        document.getElementById('preparazioneModal').style.display = 'none';
    
        // Ripristina i valori del modulo
        const form = document.getElementById('PreparazioniForm');
        form.reset(); // Resetta il modulo
    
        // Svuota il select dei titoli
        const titoloSelect = document.getElementById('titoloSelect');
        titoloSelect.innerHTML = '';
    
        // Svuota la lista degli ingredienti
        ingredientList = []; // Azzeriamo la lista degli ingredienti
        updateIngredientList(); // Aggiorniamo la visualizzazione
    
        // Altri campi da azzerare, se necessario
        document.getElementById('preparazioneDescrizione').innerText = '';
        document.getElementById('ingredientListInput').value = ''; // Svuota l'input nascosto, se esiste
    }
    
    // Close the modal when clicking outside of it
    window.onclick = function(event) {
        const modal = document.getElementById("preparazioneModal");
        if (event.target === modal) {
            closeModal();
        }
    }
    
    // Optional: Close the modal with the Escape key
    window.addEventListener('keydown', function(event) {
        if (event.key === "Escape") {
            closeModal();
        }
    });
    


    document.addEventListener('DOMContentLoaded', function() {
        var fkTipoPreparazioneSelect = document.getElementById('fkTipoPreparazioneSelect');
        var titoloSelect = document.getElementById('titoloSelect');
        var piattoSection = document.getElementById('piattoSection');
    
        fkTipoPreparazioneSelect.addEventListener('change', function() {
            var selectedTipoPreparazione = fkTipoPreparazioneSelect.value;
    
            // Svuota il select dei piatti e disabilitalo all'inizio
            titoloSelect.innerHTML = '';
            titoloSelect.disabled = true;
    
            if (selectedTipoPreparazione === 1) { // Sostituisci con l'ID reale
                console.log('Nascondo la sezione del piatto');
                piattoSection.style.display = 'none'; // Nascondi la sezione del piatto
            } else {
                console.log('Mostro la sezione del piatto');
                piattoSection.style.display = 'block'; // Mostra la sezione del piatto
                titoloSelect.disabled = false; // Riabilita il select
    
                // Chiamata Ajax per ottenere i titoli dei piatti per il tipo di preparazione selezionato
                fetch('/app_cucina/preparazioni/get_tipi_piatti/' + selectedTipoPreparazione)
                    .then(function(response) {
                        if (!response.ok) {
                            throw new Error('Network response was not ok');
                        }
                        return response.json();
                    })
                    .then(function(data) {
                        // Aggiungi le nuove opzioni
                        data.forEach(function(piatto) {
                            var option = document.createElement('option');
                            option.value = piatto.id;
                            option.textContent = piatto.titolo;
                            titoloSelect.appendChild(option);
                        });
                    })
                    .catch(function(error) {
                        console.error('Error fetching piatti:', error);
                    });
            }
        });
    });
    


    

    function elimina(id) {
        if (confirm('Sei sicuro di voler eliminare questo record?')) {
            // Ottieni il token CSRF dal meta tag
            const csrfToken = document.querySelector('meta[name="csrf-token"]').getAttribute('content');
            
            fetch(`/app_cucina/preparazioni/${id}`, {
                method: 'DELETE',
                headers: {
                    'X-CSRFToken': csrfToken // Includi il token CSRF negli headers
                }
            })
            .then(response => {
                if (response.ok) {
                    alert('Record eliminato con successo.');
                    // Ricarica o aggiorna la pagina dopo l'eliminazione
                    location.reload(); // O usa `window.location.href` se non vuoi ricaricare l'intera pagina
                } else {
                    alert('Errore durante l\'eliminazione del record.');
                }
            })
            .catch(error => {
                console.error('Errore:', error);
                alert('Errore di rete durante l\'eliminazione del record.');
            });
        }
    }



    function showModificaPreparazioneForm(id) {
        fetch(`/app_cucina/preparazioni/${id}`)
            .then(response => response.json())
            .then(data => {
                const form = document.getElementById('PreparazioniForm');
                form.action = `/app_cucina/preparazioni/${id}`; // Imposta l'azione del form all'endpoint di aggiornamento
    
                // Ottieni i dati della preparazione dal JSON
                const preparazione = data.preparazione;
    
                // Imposta i campi del modulo con i dati ricevuti
                form.elements['fkTipoPreparazione'].value = preparazione.fkTipoPreparazione;
                form.elements['descrizione'].value = preparazione.descrizione;
                form.elements['isEstivo'].checked = preparazione.estivo;
                form.elements['isInvernale'].checked = preparazione.invernale;
                form.elements['inizio'].value = preparazione.inizio;
                form.elements['fine'].value = preparazione.fine;
    
                // Popola dinamicamente il select per 'titoloSelect'
                const titoloSelect = document.getElementById('titoloSelect');
                titoloSelect.innerHTML = ''; // Svuota il select prima di aggiungere nuove opzioni
    
                data.scelte.tipiPreparazioni.forEach(option => {
                    const optionElement = document.createElement('option');
                    optionElement.value = option[0]; // ID del tipo piatto
                    optionElement.textContent = option[1]; // Descrizione del tipo piatto
                    titoloSelect.appendChild(optionElement);
                });
    
                // Imposta il valore selezionato nel select
                titoloSelect.value = preparazione.fkTipoPiatto;
    
                // Mostra il modale
                document.getElementById('preparazioneModal').style.display = 'block';
    
                // Aggiorna la lista degli ingredienti
                ingredientList = data.ingredienti;
                updateIngredientList();
            })
            .catch(error => {
                console.error('Error fetching preparation data:', error);
                alert('Errore durante il caricamento dei dettagli della preparazione.');
                
                if (error.message.includes('token scaduto')) { // Assicurati di avere un messaggio di errore specifico
                    location.reload(); // Ricarica la pagina
                }
            });
    }
    



    function visualizaPrep(id_preparazione) {
        // Reindirizza l'utente alla pagina dei dettagli della preparazione
        window.location.href = `/app_cucina/preparazioni/dettagli/${id_preparazione}`;
    }
    
    
        </script>
        

{% endblock %}