<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stampa Schede</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/stili.css') }}">
    <style>
        /* Aggiungi questo stile per creare una nuova pagina dopo ogni ordine */
        .ordine-page {
            page-break-after: always;

        }
    </style>
</head>

<body>
    <div class="popup">
        {% for ordine_info in ordini_data %}
            <div class="ordine-page">
                <div class="popup-header" style="position: relative;"> <!-- Imposta il contenitore come relativo -->
                    <h6 style="position: absolute; right: 0; top: 0; margin: 0;">{{ ordine_info.ordine.id }}/ {{ ordine_info.ordine.data }}</h6>
                    <h2>{{ ordine_info.info_reparto.codiceAreas }}, {{ ordine_info.info_reparto.descrizione }}</h2>
                    <h2 style="width: 400px; height: 30px; background-color: {{ ordine_info.scheda.backgroundColor }}; border-radius: 5px; border: 1px solid black; text-align: center; line-height: 30px; margin: 0;">
                        {{ tipi_menu_map[ordine_info.scheda.fkTipoMenu] }} 
                    </h2>
                </div>


                <div class="popup-header">
                    <h3>
                        {{ ordine_info.ordine.nome }} {{ ordine_info.ordine.cognome }} 
                    </h3>
                    <h3 style="position: relative; right: 10px; top: 0; margin: 0;">
                         Letto: {{ ordine_info.ordine.letto }}
                    </h3>

                </div>
                
                <div class="popup-content">
                    <div class="popup-grid">
                        {% for scheda_piatto in ordine_info.schedePiatti %}
                            {% if scheda_piatto.fkPiatto in ordine_info.piatti_map %}
                                {% set piatto = ordine_info.piatti_map[scheda_piatto.fkPiatto] %}
                                <div class="popup-item" data-id="{{ piatto.id }}">
                                    <span class="item-id">{{ piatto.codice }}</span>
                                    <div class="item-name">{{ piatto.titolo }}</div>
                                </div>       
                            {% else %}
                                <div class="popup-item unknown"></div>
                            {% endif %}
                        {% endfor %}
                    </div>
        
                    <div class="popup-custom-column">
                        {% for scheda_piatto in ordine_info.schedeDolci %}
                            {% if scheda_piatto.fkPiatto in ordine_info.piatti_map %}
                                {% set piatto = ordine_info.piatti_map[scheda_piatto.fkPiatto] %}
                                <div class="popup-custom-column-item" data-id="{{ piatto.id }}">
                                    <span class="item-id">{{ piatto.codice }}</span>
                                    <div class="item-name">{{ piatto.titolo }}</div>
                                </div>       
                            {% else %}
                                <div class="popup-custom-column-item unknown"></div>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
            </div> <!-- Fine dell'ordine, interruzione di pagina qui -->
        {% endfor %}
    </div>    
</body>
</html>
