{% extends "index.html" %}

{% block title %}
Reparti - Gestione Cucina e Mensa Ospedaliera
{% endblock %}

{% block content %}
<div class="container">
    <div class="search-container">
        <div>
            <input type="text" id="searchName" placeholder="Cerca per nome...">
        </div>
        {% if page_permissions['/app_cucina/reparti']['can_write'] %}
            <button onclick="showAddForm()">Aggiungi Reparto</button>
        {% endif %}
    </div>

    <div class="reparti-list">
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    {% if page_permissions['/app_cucina/reparti']['can_write'] %}
                        <th></th>
                    {% endif %}
                    <th>Reparto</th>  
                    <th>Sezione</th>
                    <th>Areas</th>
                    <th>Inizio</th>
                    <th>Fine</th>
                    {% if page_permissions['/app_cucina/reparti']['can_write'] %}
                        <th></th>
                    {% endif %}
                </tr>
            </thead>
            <tbody id="repartiTableBody">
                {% for reparto in reparti %}
                <tr>
                    {% if page_permissions['/app_cucina/reparti']['can_write'] %}
                        <td><div class="icon-pencil" onclick="showModificaForm({{ reparto.id }})" title="visualizza reparto"></div></td>
                    {% endif %}
                    <td>{{ reparto.descrizione }}</td>
                    <td>{{ reparto.sezione }}</td>
                    <td>{{ reparto.codiceAreas }}</td>
                    <td>{{ reparto.inizio }}</td>
                    <td>{{ reparto.fine }}</td>
                    {% if page_permissions['/app_cucina/reparti']['can_write'] %}
                        <td><div class="icon-cancella" onclick="elimina({{ reparto.id }})" title='Elimina reparto'></div></td>                      
                    {% endif %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

<!-- Modal per l'aggiunta e la modifica dei reparti -->
<div id="addModal" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <span class="close" onclick="closeForm()">&times;</span>
            <form id="repartiForm" method="POST" enctype="multipart/form-data">
                {{ form.hidden_tag() }}
                <input type="hidden" id="repartiId" name="repartiId">
                <div class="modal-header">
                    <h5 id="modalTitle" class="modal-title">Aggiungi Reparto</h5>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        {{ form.codiceAreas.label(class="form-label") }}
                        {{ form.codiceAreas(class="form-control") }}
                        {% for error in form.codiceAreas.errors %}
                            <span class="text-danger">{{ error }}</span>
                        {% endfor %}
                    </div>

                    <div class="form-group">
                        {{ form.descrizione.label(class="form-label") }}
                        {{ form.descrizione(class="form-control") }}
                        {% for error in form.descrizione.errors %}
                            <span class="text-danger">{{ error }}</span>
                        {% endfor %}
                    </div>

                    <div class="form-group">
                        {{ form.sezione.label(class="form-label") }}
                        {{ form.sezione(class="form-control") }}
                        {% for error in form.sezione.errors %}
                            <span class="text-danger">{{ error }}</span>
                        {% endfor %}
                    </div>

                    <div class="form-group">
                        {{ form.ordinatore.label(class="form-check-label") }}
                        {{ form.ordinatore(class="form-check-input") }}
                        {% for error in form.ordinatore.errors %}
                            <span class="text-danger">{{ error }}</span>
                        {% endfor %}
                    </div>

                    <div class="form-group">
                        {{ form.padiglione.label(class="form-label") }}
                        {{ form.padiglione(class="form-control") }}
                        {% for error in form.padiglione.errors %}
                            <span class="text-danger">{{ error }}</span>
                        {% endfor %}
                    </div>

                    <div class="form-group">
                        {{ form.piano.label(class="form-label") }}
                        {{ form.piano(class="form-control") }}
                        {% for error in form.piano.errors %}
                            <span class="text-danger">{{ error }}</span>
                        {% endfor %}
                    </div>

                    <div class="form-group">
                        {{ form.lato.label(class="form-label") }}
                        {{ form.lato(class="form-control") }}
                        {% for error in form.lato.errors %}
                            <span class="text-danger">{{ error }}</span>
                        {% endfor %}
                    </div>

                    <div class="form-group">
                        {{ form.inizio.label(class="form-label") }}
                        {{ form.inizio(class="form-control") }}
                        {% for error in form.inizio.errors %}
                            <span class="text-danger">{{ error }}</span>
                        {% endfor %}
                    </div>

                    <div class="form-group">
                        {{ form.fine.label(class="form-label") }}
                        {{ form.fine(class="form-control") }}
                        {% for error in form.fine.errors %}
                            <span class="text-danger">{{ error }}</span>
                        {% endfor %}
                    </div>
                
                    <div class="modal-footer">
                        <button type="submit" id="submitButton" class="btn btn-primary">Aggiungi Reparto</button>
                        <button type="button" class="btn btn-secondary" onclick="closeForm()">Annulla</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        const form = document.getElementById('repartiForm');
        const submitButton = document.getElementById('submitButton');
        const tipoIdField = document.getElementById('repartiId');
        const addRepartiModal = document.getElementById('addModal');
        const searchNameInput = document.getElementById('searchName');
        const repartiTableBody = document.getElementById('repartiTableBody');

        // Funzione per mostrare il modulo di aggiunta
        window.showAddForm = function() {
            form.reset();
            tipoIdField.value = '';
            submitButton.textContent = 'Aggiungi Reparto';
            document.getElementById('modalTitle').textContent = 'Aggiungi Reparto';
            addRepartiModal.style.display = 'block';
        };

        // Funzione per aprire il modulo di modifica
        window.showModificaForm = function(id) {
            fetch(`/app_cucina/reparti/${id}`)
            .then(response => response.json())
            .then(data => {
                // Imposta i valori corretti nei campi del form
                form.elements['codiceAreas'].value = data.codiceAreas;
                form.elements['descrizione'].value = data.descrizione;
                form.elements['sezione'].value = data.sezione;
                form.elements['ordinatore'].value = data.ordinatore;
                form.elements['padiglione'].value = data.padiglione;
                form.elements['piano'].value = data.piano;
                form.elements['lato'].value = data.lato;
                form.elements['inizio'].value = data.inizio;
                form.elements['fine'].value = data.fine;

                tipoIdField.value = id;
                submitButton.textContent = 'Salva Modifiche';
                document.getElementById('modalTitle').textContent = 'Modifica Reparto';
                addRepartiModal.style.display = 'block';
            })
            .catch(error => {
                console.error('Error fetching reparto data:', error);
            });
        };

        // Funzione per chiudere il modulo
        window.closeForm = function() {
            addRepartiModal.style.display = 'none';
        };

        // Gestione dell'invio del modulo
        form.addEventListener('submit', function(event) {
            event.preventDefault();
            const repartoId = tipoIdField.value;
            const url = repartoId ? `/app_cucina/reparti/${repartoId}` : '/app_cucina/reparti';
            const method = repartoId ? 'PUT' : 'POST';
            const formData = new FormData(form);

            fetch(url, {
                method: method,
                body: formData
            })
            .then(response => {
                if (response.ok) {
                    alert('Operazione completata con successo!');
                    closeForm();
                    location.reload();
                } else {
                    throw new Error('Errore durante la richiesta.');
                }
            })
            .catch(error => {
                console.error('Errore:', error);
                alert('Errore durante l\'operazione.');
            });
        });

        // Funzione per filtrare i reparti solo per nome
        function filterTable() {
            const searchName = searchNameInput.value.trim().toLowerCase();
            const rows = repartiTableBody.getElementsByTagName('tr');

            for (let i = 0; i < rows.length; i++) {
                const repartoName = rows[i].getElementsByTagName('td')[1].textContent.toLowerCase();
                rows[i].style.display = repartoName.includes(searchName) ? '' : 'none';
            }
        }

        searchNameInput.addEventListener('input', filterTable);
    });
       

    function elimina(id) {
        if (confirm('Sei sicuro di voler eliminare questo record?')) {
            const csrfToken = document.querySelector('meta[name="csrf-token"]').getAttribute('content');
            
            fetch(`/app_cucina/reparti/${id}`, {
                method: 'DELETE',
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRFToken': csrfToken 
                }
            })
            .then(response => {
                if (response.ok) {
                    alert('Record eliminato con successo.');
                    location.reload();
                } else {
                    alert('Errore durante l\'eliminazione del record.');
                }
            })
            .catch(error => {
                console.error('Error during delete:', error);
            });
        }
    }
</script>
{% endblock %}
