{% extends "index.html" %}

{% block title %}
schedePiatti - Gestione Cucina e Mensa Ospedaliera
{% endblock %}

{% block content %}

<!-- Include scheda.id as a data attribute in the body tag -->
<body data-scheda-id="{{ scheda.id }}">

<div class="popup">
    <div class="popup-header">
        <h2 style="width: 400px; height: 30px; background-color: {{ scheda.backgroundColor }}; border-radius: 5px; border: 1px solid black; text-align: center; line-height: 30px; margin: 20px auto 0 0;">
            {{ tipi_menu_map[scheda.fkTipoMenu] }}
        </h2>
        
         <!-- Filtra per servizio -->
         <form method="GET" action="{{ url_for('app_cucina.schede_piatti', id=scheda.id, servizio=scheda.servizio) }}">
            <select class="search-container-select" id="servizio" name="servizio" onchange="this.form.submit()">
                {% for servizio in servizi %}
                <option  value="{{ servizio.id }}" {% if request.args.get('servizio', '1') == servizio.id|string %}selected{% endif %}>
                    {{ servizio.descrizione }}
                </option>
                {% endfor %}
            </select>
        </form>
        
    </div>
    <button class="styled-button" onclick="showPiattoModal()">Aggiungi Piatto</button>

    <div class="scheda-griglia">
        <div class="popup-grid">
            {% for scheda_piatto in schedePiatti %}
            {% if scheda_piatto.fkPiatto in piatti_map %}
            {% set piatto = piatti_map[scheda_piatto.fkPiatto] %}
            <div class="popup-item 
                {% if piatto.fkTipoPiatto == 1 %}yellow
                {% elif piatto.fkTipoPiatto == 2 %}brown
                {% elif piatto.fkTipoPiatto == 3 %}green
                {% elif piatto.fkTipoPiatto == 4 %}pink
                {% elif piatto.fkTipoPiatto == 5 %}grey
                {% endif %}" onclick="showPiattoModal({{ scheda_piatto.id }})">
                <button class="btn-elimina_schede" onclick="showCustomConfirmationModal({{ scheda_piatto.id }}); event.stopPropagation();">&times;</button>
                <span class="item-id">{{ piatto.codice }}</span>
                <div class="item-name">{{ piatto.titolo }}</div>
                <div class="item-ordinatore">{{ scheda_piatto.ordinatore }}</div>
            </div>       
            {% else %}
            <div class="popup-item unknown" onclick="showPiattoModal({{ scheda_piatto.id }})">
                <button class="btn-elimina_schede" onclick="showCustomConfirmationModal({{ scheda_piatto.id }}); event.stopPropagation();">&times;</button>
                <div class="item-ordinatore">{{ scheda_piatto.ordinatore }}</div>
            </div>
            {% endif %}
            {% endfor %}
        </div>
    
        <div class="popup-custom-column">
            {% for scheda_piatto in schedeDolci %}
            {% if scheda_piatto.fkPiatto in piatti_map %}
            {% set piatto = piatti_map[scheda_piatto.fkPiatto] %}
            <div class="popup-custom-column-item 
                {% if piatto.fkTipoPiatto == 1 %}yellow
                {% elif piatto.fkTipoPiatto == 2 %}brown
                {% elif piatto.fkTipoPiatto == 3 %}green
                {% elif piatto.fkTipoPiatto == 4 %}pink
                {% elif piatto.fkTipoPiatto == 5 %}grey
                {% endif %}" onclick="showPiattoModal({{ scheda_piatto.id }})">
                <button class="btn-elimina_schede" onclick="showCustomConfirmationModal({{ scheda_piatto.id }}); event.stopPropagation();">&times;</button>
                <span class="item-id">{{ piatto.codice }}</span>
                <div class="item-name">{{ piatto.titolo }}</div>
                <div class="item-ordinatore">{{ scheda_piatto.ordinatore }}</div>
            </div>       
            {% else %}
            <div class="popup-custom-column-item unknown" onclick="showPiattoModal({{ scheda_piatto.id }})">
                <button class="btn-elimina_schede" onclick="showCustomConfirmationModal({{ scheda_piatto.id }}); event.stopPropagation();">&times;</button>
                <div class="item-ordinatore">{{ scheda_piatto.ordinatore }}</div>
            </div>
            {% endif %}
            {% endfor %}
        </div>
    </div>
    

    <div>
        <button type="button" class="styled-button" onclick="showLoadingSpinner();redirectToSchede()">torna a schede</button>
    </div>
</div>

<!-- Modal for Creating and Editing Dish -->
<div class="modal" id="piattoModal">
    <div class="modal-content">
        <span class="close" onclick="closePiattoModal()">&times;</span>
        <h2 id="piattoModalTitle">Aggiungi Nuovo Piatto</h2>
        <form id="piattoForm" method="POST" onsubmit="disableAllSubmitButtons()">
            <input type="hidden" id="piattoId" name="piatto_id">
            <input type="hidden" id="servizioId" name="servizio_id" value="{{ request.args.get('servizio', '1') }}">
            {{ form.hidden_tag() }}
            <div>
                <label for="piatti">{{ form.piatti.label }}</label>
                {{ form.piatti() }}
            </div>
        
            <div>
                <label for="ordinatore">{{ form.ordinatore.label }}</label>
                {{ form.ordinatore() }}
            </div>
        
            <div>
                <label for="note">{{ form.note.label }}</label>
                {{ form.note() }}
            </div>
            
            <div>
                <input class="styled-button" type="submit" value="Salva">
            </div>
        </form>
        
    </div>
</div>

<!-- Custom Confirmation Modal -->
<div class="modal" id="customConfirmationModal" style="display: none;">
    <div class="modal-content">
        <span class="close" onclick="closeCustomConfirmationModal()">&times;</span>
        <h2>Seleziona un'azione</h2>
        <button class="btn btn-danger" onclick="handleCustomAction('delete')">Elimina</button>
        <button class="btn btn-warning" onclick="handleCustomAction('empty')">Svuota il piatto</button>
        <button class="btn btn-secondary" onclick="closeCustomConfirmationModal()">Annulla</button>
    </div>
</div>

<script>
    function redirectToSchede() {
        window.location.href = "{{ url_for('app_cucina.schede') }}";
    }
</script>
<script src="{{ url_for('static', filename='js/schede_piatti.js') }}"></script>
{% endblock %}
