{% extends "index.html" %}

{% block title %}
Tipologia Piatti - Gestione Cucina e Mensa Ospedaliera
{% endblock %}

{% block content %}
<div class="container">
    <h1>Tipologia Piatti</h1>
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>ID</th>
                <th>Descrizione</th>
                <th>Descrizione Plurale</th>
                <th>In Menu</th>
                <th>Ordinatore</th>
                <th>Colore</th>
                <th>Colore Sfondo</th>
                <th>Data Inserimento</th>
                <th>Utente Inserimento</th>
            </tr>
        </thead>
        <tbody>
            {% for piatto in tipologia_piatti %}
            <tr>
                <td>{{ piatto.id }}</td>
                <td>{{ piatto.descrizione }}</td>
                <td>{{ piatto.descrizionePlurale }}</td>
                <td>{{ piatto.inMenu }}</td>
                <td>{{ piatto.ordinatore }}</td>
                <td>{{ piatto.color }}</td>
                <td>{{ piatto.backgroundColor }}</td>
                <td>{{ piatto.dataInserimento }}</td>
                <td>{{ piatto.utenteInserimento }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
