{% extends "index.html" %}

{% block title %}
Tipologia Piatti - Gestione Cucina e Mensa Ospedaliera
{% endblock %}

{% block content %}
<div class="container">
    <div class="col-md-12">
        <div class="search-container">
            <div>
                <input type="text" id="searchName" placeholder="Cerca per nome...">
            </div>
            {% if page_permissions['/app_cucina/tipologia_piatti']['can_write'] %}
                <button onclick="showAddForm()">Aggiungi Tipo Piatto</button>
            {% endif %}
        </div>
        <div class="table-responsive">
            <table class="table table-bordered table-striped">
                <thead>
                    <tr>
                        {% if page_permissions['/app_cucina/tipologia_piatti']['can_write'] %}
                        <th></th>
                        {% endif %}
                        <th>Descrizione</th>
                        <th>Descrizione Plurale</th>
                        <th>In Menu</th>
                        <th>Ordinatore</th>
                        <th>Colore</th>
                        <th>Colore Sfondo</th>
                        <th>Data Inserimento</th>
                        <th>Utente Inserimento</th>
                        {% if page_permissions['/app_cucina/tipologia_piatti']['can_write'] %}
                        <th></th>
                        {% endif %}
                    </tr>
                </thead>
                <tbody id="piattiTableBody">
                    {% for piatto in tipologia_piatti %}
                    <tr>
                        {% if page_permissions['/app_cucina/tipologia_piatti']['can_write'] %}
                            <td><div class="icon-pencil" onclick="showModificaForm({{ piatto.id }})"title="visualizza tipologia piatti"></div></td>
                        {% endif %}  
                        <td>{{ piatto.descrizione }}</td>
                        <td>{{ piatto.descrizionePlurale }}</td>
                        <td>{{ piatto.inMenu }}</td>
                        <td>{{ piatto.ordinatore }}</td>
                        <td>{{ piatto.color }}</td>
                        <td>{{ piatto.backgroundColor }}</td>
                        <td>{{ piatto.dataInserimento }}</td>
                        <td>{{ piatto.utenteInserimento }}</td>
                        {% if page_permissions['/app_cucina/tipologia_piatti']['can_write'] %}
                        <td><div class="icon-cancella" onclick="elimina({{ piatto.id }})" title='Elimina tipo piatto'></div></td>                      
                        {% endif %}
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

<!-- Modal per l'aggiunta e la modifica di un piatto -->
<div id="addModal" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <span class="close" onclick="closeForm()">&times;</span>
            <h2 id="modalTitle">Aggiungi Tipo Piatto</h2>
            <form id="piattoForm" method="POST" enctype="multipart/form-data" onsubmit="disableAllSubmitButtons()">
                {{ form.hidden_tag() }}
                <input type="hidden" id="piattoId" name="piattoId">
                <div class="modal-body">
                    <div class="form-group">
                        {{ form.backgroundColor.label(class="form-label") }}
                        {{ form.backgroundColor(class="form-control") }}
                        {% for error in form.backgroundColor.errors %}
                            <span class="text-danger">{{ error }}</span>
                        {% endfor %}
                    </div>
                    <div class="form-group">
                        {{ form.color.label(class="form-label") }}
                        {{ form.color(class="form-control") }}
                        {% for error in form.color.errors %}
                            <span class="text-danger">{{ error }}</span>
                        {% endfor %}
                    </div>
                    <div class="form-group">
                        {{ form.descrizione.label(class="form-label") }}
                        {{ form.descrizione(class="form-control") }}
                        {% for error in form.descrizione.errors %}
                            <span class="text-danger">{{ error }}</span>
                        {% endfor %}
                    </div>
                    <div class="form-group">
                        {{ form.descrizionePlurale.label(class="form-label") }}
                        {{ form.descrizionePlurale(class="form-control") }}
                        {% for error in form.descrizionePlurale.errors %}
                            <span class="text-danger">{{ error }}</span>
                        {% endfor %}
                    </div>
                    <div class="form-group">
                        {{ form.inMenu.label(class="form-check-label") }}
                        {{ form.inMenu(class="form-check-input") }}
                    </div>
                    <div class="form-group">
                        {{ form.ordinatore.label(class="form-check-label") }}
                        {{ form.ordinatore(class="form-check-input") }}
                        {% for error in form.ordinatore.errors %}
                            <span class="text-danger">{{ error }}</span>
                        {% endfor %}
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" id="submitButton" class="btn btn-primary">Aggiungi Piatto</button>
                    <button type="button" class="btn btn-secondary" onclick="closeForm()">Annulla</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script src="{{ url_for('static', filename='js/tipologia_piatti.js') }}"></script>
{% endblock %}
