{% extends "index.html" %}

{% block title %}
Tipologia Menu - Gestione Cucina e Mensa Ospedaliera
{% endblock %}

{% block content %}
<div class="container">
    <div class="search-container">
        <div>
            <input type="text" id="searchName" placeholder="Cerca per nome...">
            
        </div>
        {% if page_permissions['/app_cucina/tipologia_menu']['can_write'] %}
            <button onclick="showAddForm()">Aggiungi Menu</button>
        {% endif %}
    </div>

    <div class="TipologiaMenu-list">
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    {% if page_permissions['/app_cucina/tipologia_menu']['can_write'] %}
                        <th></th>
                    {% endif %}

                    <th>Colore</th>
                    <th>Descrizione</th>
                    <th>Ordinatore</th>

                    {% if page_permissions['/app_cucina/tipologia_menu']['can_write'] %}
                        <th></th>
                    {% endif %}
                </tr>
            </thead>
            <tbody id="menuTableBody">
                {% for tipologiamenu in tipologie_menu %}
                <tr>

                    {% if page_permissions['/app_cucina/tipologia_menu']['can_write'] %}
                        <td><div class="icon-pencil" onclick="showModificaForm({{ tipologiamenu.id }})" title="visualizza tipologia"></div></td>
                    {% endif %}  

                    <td>
                        <div style="width: 20px; height: 20px; background-color: {{ tipologiamenu.backgroundColor }}; border-radius: 5px; border: 1px solid black;"></div>
                    </td>


                    <td>{{ tipologiamenu.descrizione }}</td>

                    <td>{{ tipologiamenu.ordinatore }}</td>

                    {% if page_permissions['/app_cucina/tipologia_menu']['can_write'] %}
                        <td><div class="icon-cancella" onclick="elimina({{ tipologiamenu.id }})" title='Elimina tipologia menu'></div></td>                      
                    {% endif %}

                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

<!-- Modal per l'aggiunta e la modifica dei menu  -->
<div id="addModal" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <span class="close" onclick="closeForm()">&times;</span>
            <h2 id="modalTitle"></h5>
            <form id="menuForm" method="POST" enctype="multipart/form-data" onsubmit="disableAllSubmitButtons()">
                {{ form.hidden_tag() }}
                <input type="hidden" id="menuId" name="menuId">
                <div class="modal-body">
                    <div class="form-group">
                        {{ form.backgroundColor.label(class="form-label") }}
                        {{ form.backgroundColor(class="form-control") }}
                        {% for error in form.backgroundColor.errors %}
                            <span class="text-danger">{{ error }}</span>
                        {% endfor %}
                    </div>
                    <div class="form-group">
                        {{ form.color.label(class="form-label") }}
                        {{ form.color(class="form-control") }}
                        {% for error in form.color.errors %}
                            <span class="text-danger">{{ error }}</span>
                        {% endfor %}
                    </div>
                    <div class="form-group">
                        {{ form.descrizione.label(class="form-label") }}
                        {{ form.descrizione(class="form-control") }}
                        {% for error in form.descrizione.errors %}
                            <span class="text-danger">{{ error }}</span>
                        {% endfor %}
                    </div>
                   
                    <div class="form-group">
                        {{ form.ordinatore.label(class="form-check-label") }}
                        {{ form.ordinatore(class="form-check-input") }}
                        {% for error in form.ordinatore.errors %}
                            <span class="text-danger">{{ error }}</span>
                        {% endfor %}
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" id="submitButton" class="btn btn-primary">Aggiungi tipo Menu</button>
                    <button type="button" class="btn btn-secondary" onclick="closeForm()">Annulla</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script src="{{ url_for('static', filename='js/tipologia_menu.js') }}"></script>



{% endblock %}
