/* Stili globali */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    height: 100%; /* Assicurati che il body occupi l'intera altezza della finestra */
    padding: 0;
    background-color: #f8f9fa;
}

.wrapper {
    max-width: 1200px; /* o un valore appropriato */
    margin: 0 auto; /* Centra il wrapper */
    padding: 20px; /* Spazio interno */
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #f8f9fa;
    border-bottom: 1px solid #2b2e31;
}

header h1 {
    margin: 0;
}

header .user-info {
    display: flex;
    align-items: center;
}

header .user-info span {
    margin-right: 10px;
}

header .user-info a,
#logout {
    text-decoration: none;
    color: white;
    background-color: #a6c9ee; /* Same color for both */
    padding: 8px 12px; /* Increased padding for equal height */
    border-radius: 5px;
    margin-left: 10px;
    border: none; /* Remove border */
    display: inline-flex; /* Use flexbox for centering */
    align-items: center; /* Center text vertically */
    font-size: 16px; /* Ensure font size is the same */
    line-height: 1; /* Ensure consistent line height */
}

#logout {
    cursor: pointer; /* Cambia il cursore in manina */
}





nav {
    margin: 20px;
    background-color: #e8f4ff;
    padding: 10px;
    border-radius: 5px;
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    gap: 20px;
}

nav ul li {
    position: absolute;
}

nav ul li a {
    text-decoration: none;
    color: #07437e;
    font-weight: bold;
    padding: 5px 10px;
    display: block;
}


.flash-messages {
    margin: 20px 20px;
}

.flash {
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
}

.flash.success {
    background-color: #d4edda;
    color: #155724;
}

.flash.error {
    background-color: #f8d7da;
    color: #721c24;
}

.flash.warning {
    background-color: #fff3cd;
    color: #856404;
}



/* Assicurati che il contenitore dropdown sia posizionato relativamente */
.dropdown {
    position: relative;
}

/* Stile per il menu principale */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Stile per il sottomenu */
.dropdown-subcontent {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 2; /* Assicurati che sia sopra il menu principale */
    left: 100%; /* Posiziona il sottomenu direttamente a destra del menu principale */
    top: 0; /* Allinea verticalmente con il menu principale */
}

/* Stili per i link nei menu */
.dropdown-content a, .dropdown-subcontent a {
    color: #07437e;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Hover effects per i link */
.dropdown-content a:hover, .dropdown-subcontent a:hover {
    background-color: #f1f1f1;
}

/* Mostra il menu principale al passaggio del mouse */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Mostra il sottomenu al passaggio del mouse */
.dropdown:hover .dropdown-content .dropdown:hover .dropdown-subcontent {
    display: block;
}



.container {
    max-width: 1200px;
    margin: 20px auto;
    padding: 20px;
    background-color: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

.search-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.search-container-select {
    padding: 12px 15px;
    border: 1px solid #0079f2;
    border-radius: 5px;
    background-color: #ffffff;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    margin: 0 0 0 20px; /* Stesso margine sinistro dell'elemento <h2> */
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-image: url("data:image/svg+xml;charset=UTF-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='14' height='10' viewBox='0 0 20 20'%3E%3Cpath fill='%23333' d='M0 0l10 10 10-10z'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: right 10px center;
    min-width: 250px;
    height: 40px; /* Altezza per allineare con l'elemento <h2> */
    margin-top: 20px; /* Solleva il selettore */
}

.search-container-select:focus {
    border-color: #86b7fe;
    outline: none;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.25);
}




.search-container-select-menu{
    padding: 9px 15px;
    border: 1px solid #ced4da;
    border-radius: 5px;
    background-color: #ffffff;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    margin: 0 0 0 0px; /* Stesso margine sinistro dell'elemento <h2> */
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-image: url("data:image/svg+xml;charset=UTF-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='14' height='10' viewBox='0 0 20 20'%3E%3Cpath fill='%23333' d='M0 0l10 10 10-10z'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: right 10px center;
    min-width: 250px;

}

.search-container-select-menu:focus {
    border-color: #86b7fe;
    outline: none;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.25);
}
 

.search-container-select:focus {
    border-color: #86b7fe;
    outline: none;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.25);
}


.search-container input[type="text"],
.search-container select {
    padding: 10px;
    border: 1px solid #ced4da;
    border-radius: 5px;
    margin-right: 10px;
}



.styled-button {
    padding: 10px 20px;
    background-color: #07437e;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 20px 0 20px auto;
    transition: background-color 0.3s ease;
}

.styled-button:hover {
    background-color: #002b5e;
}

.search-container button {
    padding: 10px 20px;
    background-color: #07437e;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.search-container button:hover {
    background-color: #002b5e;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table, th, td {
    border: 1px solid #dee2e6;
}

th, td {
    padding: 10px;
    text-align: left;
}

th {
    background-color: #f8f9fa;
}

/* CSS per il pop-up */
.modal {
    display: none; 
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
}

.modal-content {
    background-color: #fff;
    margin: 5% auto; 
    padding: 20px;
    border: 1px solid #888;
    width: 50%; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    animation: fadeIn 0.5s;
}



@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.modal-content h2 {
    margin-top: 0;
    color: #07437e;
}

.modal-content label {
    display: inline;
    margin: 15px 0 5px;
    color: #333;
}

.modal-content input[type="text"],
.modal-content input[type="number"],
.modal-content select {
    width: calc(100% - 22px);
    padding: 10px;
    border: 1px solid #ced4da;
    border-radius: 5px;
    margin-bottom: 10px;
}

.modal-content button {
    padding: 10px 20px;
    background-color: #07437e;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.modal-content button:hover {
    background-color: #002b5e;
}

.radio-inline {
    display: inline-block;
    margin-right: 10px;
}

.calendar {
    border-collapse: collapse;
    width: 100%;
}
.calendar th, .calendar td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
    vertical-align: top;
}
.calendar th {
    background-color: #f4f4f4;
}
.empty {
    background-color: #f9f9f9;
    text-align: center;
}
ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
li {
    margin: 5px 0;
}

.rotated-header {
    position: relative;
    height: 210px; /* Altezza della cella, modifica se necessario */
    width: 100px; /* Larghezza della cella, modifica se necessario */
    text-align: center; /* Centra orizzontalmente il testo */
    vertical-align: top; /* Allinea verticalmente il testo */
}

.rotated-nome-text {
    position: absolute; /* Posiziona il testo in modo assoluto */
    top: 10px; /* Allinea il testo al top della cella */
    left: 50%; /* Centra orizzontalmente rispetto alla cella */
    transform: translateX(-50%); /* Sposta il testo a sinistra di metà della sua larghezza per centrarlo */
    width: 100%; /* Larghezza al 100% della cella */
    box-sizing: border-box; /* Include il padding e il bordo nelle dimensioni */
}




.rotated-header span {
    display: inline-block;
    transform: rotate(90deg);
    transform-origin: left bottom;
    white-space: nowrap;
    position: absolute;
    left: 43%; /* Modifica il posizionamento a tuo piacimento */
    top: 30px; /* Modifica il posizionamento a tuo piacimento */
    color: #333; /* Colore del testo, modifica se necessario */
}





.btn-elimina {
    width: 20px;
    height: 20px;
    background-color: rgb(245, 245, 245);
    color: rgb(189, 0, 0);
    border: none;
    border-radius: 5px;
    border: 1px solid black;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    line-height: 20px; /* Allinea verticalmente il testo */
    padding: 0;
}
.btn-elimina:hover {
    color: rgb(255, 1, 1);
}
.popup {
    width: 1000px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    background-color: #f9f9f9;
}

.popup-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.popup-content {
    display: flex;
    justify-content: space-between;
}

.scheda-griglia {
    display: flex;
    

    
}

.popup-grid {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    row-gap: 0; /* Rimuove lo spazio tra le righe verticalmente */
    column-gap: 0; /* Rimuove lo spazio tra le colonne orizzontalmente */
    margin: 0; /* Rimuove lo spazio tra gli elementi della griglia */
    width: 100%;
    height: 100%; 
}

.popup-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    height: 100px;
    border: 1px solid #ccc;
    text-align: center;
    margin: 0;
    cursor: pointer; /* Cambia il cursore a puntatore */
    position: relative; /* Ensure this is positioned relative to contain absolutely positioned child elements */
}


.popup-item .item-id {
    font-size: 20px;
    font-weight: bold;
}

.popup-item .item-value {
    font-size: 14px;
    margin-bottom: 10px;
}


.popup-item .item-ordinatore {
    position: absolute;
    bottom: 0;
    right: 0;
    color: #008b3f;/* Text color */
    padding: 2px 4px; /* Padding around the text */
    font-size: 0.8em; /* Adjust font size as needed */
}

.popup-item.yellow { background-color: #ffff99; }
.popup-item.brown { background-color: #ffcc99; }
.popup-item.green { background-color: #ccffcc; }
.popup-item.pink { background-color: #ffccff; }
.popup-item.selezionato { background-color: #00881d; }

.popup-custom-column {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid #ccc;
    text-align: center;
    
    height: 100%; 

   
}

.popup-custom-column-item {
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    width: 120px; /* Larghezza fissa per gli elementi della colonna personalizzata */
    height: 59px; /* Altezza fissa per gli elementi della colonna personalizzata */
    border: 1px solid #ccc;
    text-align: center;
    margin: 0;
    
    /* Ensure this is positioned relative to contain absolutely positioned child elements */
}


.popup-item, .popup-custom-column-item {
    position: relative; /* Ensure positioning context for the button */
}

.btn-elimina_schede {
    position: absolute;
    top: 3px; /* Adjust as needed */
    left: 3px; /* Adjust as needed */
    width: 14px; /* Adjust size as needed */
    height: 14px; /* Adjust size as needed */
    background-color: transparent; /* Transparent background */
    color: rgb(189, 0, 0); /* Red color for the cross */
    border: none;
    border-radius: 50%; /* Round shape for the button */
    font-size: 12px; /* Size of the cross */
    font-weight: bold;
    text-align: center;
    line-height: 14px; /* Align text vertically */
    cursor: pointer; /* Indicate it’s clickable */
    padding: 0;

}

.btn-elimina_schede:hover {
    color: rgb(255, 1, 1); /* Darker red on hover */
    background-color: rgba(255, 0, 0, 0.1); /* Light red background on hover */
}



.popup-custom-column-item .item-ordinatore {
    position: absolute;
    bottom: 0;
    right: 0;
    color: #008b3f;/* Text color */
    padding: 2px 4px; /* Padding around the text */
    font-size: 0.8em; /* Adjust font size as needed */
}


.popup-custom-column-item.yellow { background-color: #ffff99; }
.popup-custom-column-item.brown { background-color: #ffcc99; }
.popup-custom-column-item.green { background-color: #ccffcc; }
.popup-custom-column-item.pink { background-color: #ffccff; }
.popup-custom-column-item.grey { background-color: #d9d9d9; }
.popup-custom-column-item.selezionato { background-color: #00881d; }



.form-row-ordiniPiatti {
    display: flex;
    flex-wrap: wrap; /* Allows wrapping to the next line if needed */
    gap: 15px; /* Space between the fields */
}

.form-group-ordiniPiatti {
    flex: 1; /* Ensures the fields grow to fill available space */
    min-width: 200px; /* Optional: Sets a minimum width for each field */
}

.form-label-ordiniPiatti {
    display: block; /* Ensures the label is on its own line above the field */
    margin-bottom: 5px; /* Adds space below the label */
}

.form-control-ordiniPiatti {
    width: 100%; /* Ensures the input fields fill their container */
}

.btn-ordiniPiatti {
    margin-top: 15px; /* Adds space above the button */
}

.popup-item-ordiniPiatti.selezionato {
    background-color: #00881d;
    color: white; /* Optional: to ensure text is readable on the selected background */
}

.popup-custom-column-item-ordiniPiatti.selezionato {
    background-color: #00881d;
    color: white; /* Optional: to ensure text is readable on the selected background */
}

.controls-container {
    display: flex;
    gap: 10px; /* Spazio tra gli elementi */
    align-items: center; /* Allinea verticalmente al centro */
    margin-bottom: 20px;
    margin-right: 20px;
    margin-left: 20px; /* Spazio sotto il contenitore */
}

.controls-container form,
.controls-container button {
    margin: 0; /* Rimuove margini predefiniti */
}

.stampa {
    
    margin: 0;
    padding: 10mm; /* Spazio interno per staccare i contenuti dai bordi */
    border: 1px solid #ccc;
    background-color: #f9f9f9;
    box-sizing: border-box; /* Include il padding e i bordi nelle dimensioni */
}

.stampa-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.stampa-content {
    display: flex;
    
}

.stampa-grid {
    display: grid;
    grid-template-columns: repeat(6, 1fr); /* 6 colonne uguali */
    row-gap: 0; /* Rimuove lo spazio tra le righe verticalmente */
    column-gap: 0; /* Rimuove lo spazio tra le colonne orizzontalmente */
    margin: 0; /* Rimuove lo spazio tra gli elementi della griglia */
    width: 100%;
    height: 100%;
}

.stampa-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    height: 100px; /* Altezza fissa per i quadrati */
    border: 1px solid #ccc;
    text-align: center;
    margin: 0; /* Rimuove i margini tra gli elementi della griglia */
    position: relative; /* Ensure this is positioned relative to contain absolutely positioned child elements */
}

.stampa-item .item-id {
    font-size: 20px;
    font-weight: bold;
}

.stampa-custom-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid #ccc;
    text-align: center;
    height: 100%; /* Larghezza fissa per la colonna personalizzata */
}

.stampa-custom-column-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 120px; /* Larghezza fissa per gli elementi della colonna personalizzata */
    height: 100%; /* Altezza fissa */
    border: 1px solid #ccc;
    text-align: center;
    margin: 0;
}

.stampa-item.highlighted, .stampa-custom-column-item.highlighted {
    background-color: #e0e0e0; /* Grigio chiaro */
}

@media print {
    .stampa {
        padding: 10mm; /* Assicura uno spazio interno di 10mm nella stampa */
        box-sizing: border-box;
    }

    body, .stampa, .ordine-page {
        margin: 0;
        padding: 0;
        width: 100%; /* Adattamento automatico alla larghezza della pagina di stampa */
    }

    .ordine-page {
        page-break-after: always;
        break-inside: avoid;
        height: auto; /* Permette alla pagina di adattarsi all'altezza del contenuto */
    }

    .stampa-grid {
        grid-template-columns: repeat(6, minmax(100px, 1fr)); /* Assicura che i quadrati si adattino */
    }

    .stampa-item.highlighted, .stampa-custom-column-item.highlighted {
        background-color: #e0e0e0 !important; /* Usa !important per forzare la stampa del colore di sfondo */
    }
    

    .h2.custom-background {
        background-color: {{ scheda.backgroundColor }} !important;
    }
    

    @media print {
        h2.custom-background {
            background-color: {{ scheda.backgroundColor }} !important;
            -webkit-print-color-adjust: exact !important; /* Per WebKit-based browsers */
            color-adjust: exact !important; /* Per altri browser */
        }
    }
    
    
    

    .stampa-item {
        height: 110px; /* Mantiene l'altezza dei quadrati fissa nella stampa */
    }

    .stampa-custom-column-item {
        height: 35px; /* Altezza fissa per gli elementi della colonna personalizzata */
    }
}

@page {
    margin: 10mm; /* Margine per staccare i contenuti dai bordi della pagina */
}


/* Stile per la tabella e le celle */
table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    padding: 10px;
    text-align: left;
    border: 1px solid #07437e;
    vertical-align: top; /* Allinea il contenuto delle celle in alto */
}

thead {
    background-color: #ffffff;
}

tbody tr:hover {
    background-color: #eff7ff;
}

/* Stile per i contenitori delle colonne */
/* Margine superiore per abbassare le colonne e creare spazio per i pulsanti */
.menu-columns {
    display: flex;
    flex-wrap: nowrap;
    align-items: flex-start;
    gap: 0px;
    box-sizing: border-box;
    width: 100%;
    margin-top: 20px; /* Aggiungi uno spazio sopra le colonne */
    position: relative; /* Imposta la posizione relativa per contenere i pulsanti */
}

.menu-actions {
    position: absolute;
    top: 0;
    right: 0;
    display: none; /* Mostra solo quando il menu è attivo */
    z-index: 1000; /* Assicurati che i pulsanti siano sopra altri contenuti */
    background-color: white;
    padding: 11px 0px 11px 0px;
    border-radius: 5px;
  
}



.menu-actions button {
    margin-left: 5px;
    padding: 5px 5px;
    background-color: #f44336;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.menu-actions button.clone {
    background-color: #07437e; /* blu per il pulsante "Clona" */
}

.menu-actions button:hover {
    opacity: 0.8; /* Leggero effetto di hover */
}

/* Mostra i pulsanti al passaggio del mouse sul menu */
.menu-columns:hover .menu-actions {
    display: block;
    position: absolute; /* Assicurati che l'elemento sia posizionato assolutamente */
    top: -28px; /* Aumenta l'offset verso l'alto, modifica a seconda delle necessità */
    right: 0; /* Posiziona a destra */
    width: auto; /* Imposta a auto se non desideri che l'elemento si estenda tutta la larghezza */
    height: calc(100% + 50px); /* Estendi l'altezza verso il basso e verso l'alto */
    z-index: 10; /* Assicurati che l'area di hover sia sopra gli altri elementi */
    background: transparent; /* Imposta uno sfondo temporaneo per il debug */
}



.column {
    flex: 1;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    box-sizing: border-box;
    min-height: 100px;
    min-width: 100px; /* Imposta una larghezza minima */
    max-width: 300px; /* Opzionale: Imposta una larghezza massima */
    display: flex;
    flex-direction: column;
}

/* Stile per i titoli delle categorie di piatti */
.column h4 {
    margin: 0 0 10px 0;
    font-size: 16px;
    color: #333;
    border-bottom: 2px solid #07437e;
    padding-bottom: 5px;
}

/* Stile per l'elenco dei piatti */
.column ul {
    list-style-type: none;
    padding-left: 0;
    font-size: 14px;
    margin: 0;
    flex: 1;
}

/* Stile per ogni piatto (li) */
.column li {
    padding: 5px 0;
    border-bottom: 1px solid #ddd;
    display: flex;
    align-items: center;
}

.column li:last-child {
    border-bottom: none;
}

.codice {
    width: flex; /* Larghezza fissa per il codice */
    font-weight: bold;
    color: #07437e;
    margin-right: 10px; /* Spazio tra il codice e la preparazione */
    padding: 5px;
    text-align: center;
    border-radius: 3px;
}

.column li:hover {
    background-color: #f1f1f1;
}

.codice.yellow {
    background-color: #ffff99; /* Giallo per i Primi */
}

.codice.brown {
    background-color: #ffcc99; /* Marrone per i Secondi */
}

.codice.green {
    background-color: #ccffcc; /* Verde per i Contorni */
}

.preparazione {
    white-space: normal; /* Consente il ritorno a capo del testo */
    overflow: hidden;
    text-overflow: ellipsis;
    word-wrap: break-word;
    flex: 1; /* Occupa lo spazio rimanente */
}












/* Stile generale per i bottoni */
.navigation-buttons button {
    border: 1px;
    color: #000000; /* Testo bianco */
    padding: 10px 30px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s, box-shadow 0.3s;
    margin: 0 15px; /* Spazio tra i bottoni */
}

.navigation-buttons button:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}


/* Colori specifici per i bottoni */
.button-1 {
    background-color: #ffff99; /* Giallo per il primo piatto */
}

.button-2 {
    background-color: #ffcc99; /* Marrone per il secondo piatto */
}

.button-3 {
    background-color: #ccffcc; /* Verde per il contorno */
}

.button-4 {
    background-color: #ffccff; /* Rosa per il dolce */
}



/* Contenitore principale per i piatti */
.piatti-container {
    display: flex;
    flex-direction: column;
    gap: 15px; /* Spazio tra ogni piatto */
    max-width: 100%; /* Imposta una larghezza massima per il contenitore */
    overflow-x: auto; /* Aggiungi lo scroll orizzontale se necessario */
}

.piatti-row {
    display: flex;
    align-items: center;
    flex-wrap: wrap; /* Permette alle colonne di andare a capo se necessario */
    margin-bottom: 5px;
    padding: 5px; /* Riduci il padding */
    border-left: 5px solid transparent; /* Per il colore del piatto */
}

.piatti-column.code {
    flex: 0 0 50px; /* Riduci la larghezza del codice */
    font-weight: bold;
    color: #333;
}

.piatti-column.name {
    flex: 0 0 250px; /* Riduci la larghezza del nome */
    color: #555;
    margin-right: 5px; /* Riduci lo spazio tra il nome e la checkbox */
}

.piatti-column.checkbox {
    flex: 0 0 50px; /* Riduci la larghezza della checkbox */
    text-align: center;
    margin-right: 5px; /* Spazio tra la checkbox e la colonna preparazione */
}

.piatti-column.preparazione {
    flex: 0 0 250px; /* Riduci la larghezza della preparazione */
}

.piatto-code {
    display: inline-block;
    padding: 3px 6px; /* Riduci il padding del codice del piatto */
    border-radius: 4px;
    color: #000000;
}

.piatto-row.primo .piatto-code {
    background-color: #ffff99; /* Colore per i primi piatti */
}

.piatto-row.secondo .piatto-code {
    background-color: #ffcc99; /* Colore per i secondi piatti */
}

.piatto-row.contorno .piatto-code {
    background-color: #ccffcc; /* Colore per i contorni */
}

.piatto-row.dolce .piatto-code {
    background-color: #ffccff; /* Colore per i dolci */
}

.piatto-row.pane .piatto-code {
    background-color: #d9d9d9; /* Colore per i dolci */
}

/* Stile per il select */
select {
    padding: 9px 10px;
    border: 1px solid #ced4da;
    border-radius: 5px;
    background-color: #ffffff;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    margin: 0; /* Margine standard per il select */
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-image: url("data:image/svg+xml;charset=UTF-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='14' height='10' viewBox='0 0 20 20'%3E%3Cpath fill='%23333' d='M0 0l10 10 10-10z'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: right 10px center;
    width: 300px; /* Riduci la larghezza del select */
}

/* Stile per le checkbox ingrandite */
.piatti-column.checkbox input[type="checkbox"] {
    transform: scale(1.5); /* Ingrandisce la checkbox di 1.5 volte */
    margin: 0; /* Rimuove margini extra se necessario */
}



.error p {
    color: red;
    font-size: 0.875em;
}



.clone-form {
    margin-top: 20px;
}

/* Cella che contiene solo il cerchio */
.circle-cell {
    display: flex; /* Usa Flexbox per il layout */
    align-items: center; /* Centra il cerchio verticalmente */
    justify-content: center; /* Centra il cerchio orizzontalmente */
    height: 250px; /* Altezza della cella, modifica se necessario */
}

/* Stile per il cerchio con il numero della settimana */
.week-circle {
    width: 40px; /* Diametro del cerchio */
    height: 40px; /* Diametro del cerchio */
    border-radius: 50%; /* Crea il cerchio */
    border: 1px solid #000000; /* Bordo del cerchio */
    background-color: #f0f0f0; /* Colore di sfondo del cerchio */
    color: #333; /* Colore del testo */
    display: flex; /* Usa Flexbox per centrare il testo */
    align-items: center; /* Centra il testo verticalmente */
    justify-content: center; /* Centra il testo orizzontalmente */
    font-weight: bold; /* Grassetto per il testo */
}



/* Stili per la sezione delle funzionalità e permessi */
.functionality-permissions {
    margin-top: 20px; /* Spazio sopra la sezione delle funzionalità e permessi */
}

/* Stili per ciascun elemento di funzionalità e permessi */
.permission-item {
    display: flex; /* Usa flexbox per allineare orizzontalmente i contenuti */
    align-items: center; /* Allinea verticalmente gli elementi al centro */
    margin-bottom: 10px; /* Spazio tra le righe di permessi */
}

/* Nome della funzionalità */
.functionality-name {
    font-weight: bold; /* Rende il nome della funzionalità in grassetto */
    margin-right: 20px; /* Spazio tra il nome della funzionalità e i permessi */
    flex: 0 0 200px; /* Larghezza fissa per il nome della funzionalità */
}

/* Permessi associati alla funzionalità */
.permissions {
    display: flex; /* Allinea orizzontalmente le opzioni di permesso */
    flex-wrap: wrap; /* Permette di andare a capo se ci sono troppi permessi su una riga */
}

.permission-option {
    display: flex; /* Usa flexbox per allineare l'etichetta e il radio button */
    align-items: center; /* Allinea verticalmente gli elementi al centro */
    margin-right: 15px; /* Spazio tra le opzioni di permesso */
}

.permission-option label {
    margin-right: 5px; /* Spazio tra l'etichetta e il radio button */
}




.settings-container {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.settings-container h1 {
    font-size: 28px;
    color: #333;
    margin-bottom: 20px;
    border-bottom: 2px solid #07437e;
    padding-bottom: 10px;
}
.user-details {
    margin: 0;
    padding: 0;
}
.user-details p {
    font-size: 16px;
    color: #555;
    margin: 10px 0;
    padding: 10px;
    border-bottom: 1px solid #ddd;
}
.user-details p strong {
    color: #07437e;
}
.user-details p:last-child {
    border-bottom: none;
}



.menu-container {
    display: flex;
    justify-content: center; /* Centra orizzontalmente gli elementi */
    align-items: flex-start; /* Allinea gli elementi verso l'inizio del contenitore (superiore) */
    padding: 10px; /* Riduce il padding */
    margin: 20px auto; /* Assicurati che non ci siano margini che spostano il footer */
    padding: 20px; /* Regola il padding come necessario */
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    
}

.menu-list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row; /* Dispone gli elementi orizzontalmente */
    align-items: stretch; /* Fa sì che gli elementi abbiano la stessa altezza */
    height: 100%;
    width: 100%;
}

.menu-item {
    padding: 20px; /* Aumenta il padding per dare più spazio al testo */
    flex: 1; /* Permette ai riquadri di espandersi e occupare tutto lo spazio disponibile */
    min-width: 350px; /* Mantiene una larghezza minima per i riquadri */
    text-align: center;
    cursor: pointer;
    border-radius: 8px;
    color: #000000; /* Colore del testo */
    background-color: #007bff; /* Colore di sfondo per contrastare il testo */
    font-size: 1.2em; /* Aumenta la dimensione del font */
    font-weight: bold; /* Rende il testo più audace */
    transition: background-color 0.3s;
    margin: 0 5px; /* Spazio laterale tra i riquadri */
}

.menu-item:hover {
    background-color: #0056b3; /* Colore di sfondo al passaggio del mouse */
}

.piatti-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.piatti-category {
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 5px;
}

.piatto-item {
    display: flex;
    align-items: center;
    padding: 10px;
    margin: 5px 0;
    border-radius: 4px;
    font-size: 1em;
}

.piatto-codice {
    display: inline-block;
    padding: 5px;
    margin-right: 10px;
    border-radius: 4px;
    color: #000000;
    font-weight: bold;
}

/* Contenitore del menu selezionato */
.menu-selezionato {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin: 20px auto;
    padding: 20px;
    max-width: 500px; /* Limita la larghezza */
    background-color: #f9f9f9;
    border-radius: 15px; /* Angoli arrotondati */
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1); /* Ombra elegante */
    position: relative; /* Necessario per il posizionamento assoluto dei pulsanti */
}

/* Dettagli del menu */
.menu-details {
    width: 100%;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    max-height: 500px; /* Limita l'altezza per evitare che vada in fondo */
}

/* Pulsanti di azione */
.action-buttons {
    position: absolute;
    top: 30px; /* Spostato 5px più in basso */
    right: 30px; /* Spostato 5px più a sinistra */
    display: none; /* Nascondi i pulsanti per default */
}

/* Pulsante di modifica */
.modifica-scheda-utente {
    margin-left: 5px;
    padding: 5px 5px;
    background-color: #07437e;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.modifica-scheda-utente:hover {
    opacity: 0.8; /* Leggero effetto di hover */
}

/* Pulsante di eliminazione */
.delete-button-scheda-utente {
    margin-left: 5px;
    padding: 5px 5px;
    background-color: #f44336;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.delete-button-scheda-utente:hover {
    opacity: 0.8; /* Leggero effetto di hover */
}

/* Mostra i pulsanti quando il mouse è sopra il menu */
.menu-selezionato:hover .action-buttons {
    display: block;
}



.form-control {
    display: block;
    width: 97%;
    padding: 10px;
    font-size: 14px;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 4px;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    
    /* Aggiungi margine sopra e sotto */
    
    margin-bottom: 15px; /* Aumenta lo spazio sotto */
}

.form-control[type="color"] {

    border-radius: 4px;
    width: 60px; /* Imposta una larghezza specifica per il campo di colore */
    padding: 0; /* Rimuovi il padding per adattare l'altezza */
    height: 60px; /* Imposta l'altezza specifica per il campo di colore */
}

/* Stile specifico per i campi di selezione data */
.form-control[type="date"] {
    display: block;
    width: 30%;
    padding: 10px;
    font-size: 14px;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 4px;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    
    /* Aggiungi margine sopra e sotto */
    margin-bottom: 15px; /* Aumenta lo spazio sotto */
    height: 40px; /* Imposta l'altezza del campo di input per il calendario */
    box-sizing: border-box; /* Include il bordo e il padding nella larghezza e altezza */
}

/* Aggiungi uno stile specifico quando il campo di data è in focus */
.form-control[type="date"]:focus {
    border-color: #80bdff;
    outline: none;
    box-shadow: 0 0 0 0.2rem rgba(38, 143, 255, 0.25);
}

.form-control[type="textarea"] {
    width: 100%;
    height: 120px; /* Imposta un'altezza sufficiente per visualizzare più righe di testo */
    resize: vertical; /* Permette di ridimensionare solo verticalmente */
}

/* Aggiungi uno stile specifico quando il campo di testo è in focus */
.form-control[type="text"]:focus, 
.form-control[type="textarea"]:focus {
    border-color: #80bdff;
    outline: none;
    box-shadow: 0 0 0 0.2rem rgba(38, 143, 255, 0.25);
}


/* Stile per il pulsante di eliminazione della scheda */
.delete-button-scheda {
    margin-left: 5px;
    padding: 5px 5px;
    background-color: #f44336;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}


.delete-button-scheda:hover {
    opacity: 0.8; /* Leggero effetto di hover */
    cursor: pointer; /* Cambia il cursore per indicare che il pulsante è cliccabile */
}

/* Style for the order button */
.order-button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 18px;
    color: #fff;
    background-color: #07437e;
    border-radius: 5px;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s;
}


.order-button:hover {
    background-color: #002b5e;
}

.order-icon {
    font-size: 24px;
    display: inline-block;
    margin-right: 8px;
}

/* Container for the service cards */
.order-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

/* Individual service card */
.service-card {
    flex: 1 1 45%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    overflow: hidden;
    background-color: #fff;
    padding: 20px;
}

/* Order reminder */
.order-reminder {
    text-align: center;
    margin: 20px 0;
}

/* Menu details */
.menu-selezionato {
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
}

.menu-details h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

/* List of dishes */
.piatti-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.piatti-category {
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 5px;
}

/* Individual dish item */
.piatto-item {
    display: flex;
    justify-content: space-between;
    padding: 5px 0;
    border-bottom: 1px solid #ddd;
}

.piatto-row {
    padding: 5px;
}


.icon-pencil {
    width: 24px;
    height: 24px;
    background: url('data:image/svg+xml;charset=UTF-8,%3Csvg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6"%3E%3Cpath stroke-linecap="round" stroke-linejoin="round" d="m16.862 4.487 1.687-1.688a1.875 1.875 0 1 1 2.652 2.652L10.582 16.07a4.5 4.5 0 0 1-1.897 1.13L6 18l.8-2.685a4.5 4.5 0 0 1 1.13-1.897l8.932-8.931Zm0 0L19.5 7.125M18 14v4.75A2.25 2.25 0 0 1 15.75 21H5.25A2.25 2.25 0 0 1 3 18.75V8.25A2.25 2.25 0 0 1 5.25 6H10"%3E%3C/path%3E%3C/svg%3E') no-repeat center center;
    background-size: contain;
    cursor: pointer;
  }
  
  .icon-modifica {
    width: 24px; /* Imposta la larghezza dell'icona */
    height: 24px; /* Imposta l'altezza dell'icona */
    background: url('data:image/svg+xml;charset=UTF-8,%3Csvg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6"%3E%3Cpath stroke-linecap="round" stroke-linejoin="round" d="M4.5 12a7.5 7.5 0 0 0 15 0m-15 0a7.5 7.5 0 1 1 15 0m-15 0H3m16.5 0H21m-1.5 0H12m-8.457 3.077 1.41-.513m14.095-5.13 1.41-.513M5.106 17.785l1.15-.964m11.49-9.642 1.149-.964M7.501 19.795l.75-1.3m7.5-12.99.75-1.3m-6.063 16.658.26-1.477m2.605-14.772.26-1.477m0 17.726-.26-1.477M10.698 4.614l-.26-1.477M16.5 19.794l-.75-1.299M7.5 4.205 12 12m6.894 5.785-1.149-.964M6.256 7.178l-1.15-.964m15.352 8.864-1.41-.513M4.954 9.435l-1.41-.514M12.002 12l-3.75 6.495"%3E%3C/path%3E%3C/svg%3E') no-repeat center center;
    background-size: contain; /* Adatta l'icona alle dimensioni dell'elemento */
    cursor: pointer; /* Cambia il cursore in una mano per indicare che è cliccabile */
    display: inline-block; /* Permette all'elemento di mantenere le dimensioni e comportarsi come un blocco inline */
    vertical-align: middle; /* Allinea verticalmente l'icona con il testo circostante, se presente */
  }

  .icon-clona {
    width: 24px;
    height: 24px;
    position: absolute;
    top: 6px;
    right: 35px;
    background: url('data:image/svg+xml;charset=UTF-8,%3Csvg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6"%3E%3Cpath stroke-linecap="round" stroke-linejoin="round" d="M15.75 17.25v3.375c0 .621-.504 1.125-1.125 1.125h-9.75a1.125 1.125 0 0 1-1.125-1.125V7.875c0-.621.504-1.125 1.125-1.125H6.75a9.06 9.06 0 0 1 1.5.124m7.5 10.376h3.375c.621 0 1.125-.504 1.125-1.125V11.25c0-4.46-3.243-8.161-7.5-8.876a9.06 9.06 0 0 0-1.5-.124H9.375c-.621 0-1.125.504-1.125 1.125v3.5m7.5 10.375H9.375a1.125 1.125 0 0 1-1.125-1.125v-9.25m12 6.625v-1.875a3.375 3.375 0 0 0-3.375-3.375h-1.5a1.125 1.125 0 0 1-1.125-1.125v-1.5a3.375 3.375 0 0 0-3.375-3.375H9.75"%3E%3C/path%3E%3C/svg%3E') no-repeat center center;
    background-size: contain;
    cursor: pointer;
}


    .icon-utente {
    width: 24px;
    height: 24px;
    background: url('data:image/svg+xml;charset=UTF-8,%3Csvg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6"%3E%3Cpath stroke-linecap="round" stroke-linejoin="round" d="M15.75 6a3.75 3.75 0 1 1-7.5 0 3.75 3.75 0 0 1 7.5 0ZM4.501 20.118a7.5 7.5 0 0 1 14.998 0A17.933 17.933 0 0 1 12 21.75c-2.676 0-5.216-.584-7.499-1.632Z"%3E%3C/path%3E%3C/svg%3E') no-repeat center center;
    background-size: contain;
    cursor: pointer;
  }




  
  .icon-bidone {
    width: 24px;
    height: 24px;
    position: absolute;
    top: 6px;
    right: 2px;
    background: url('data:image/svg+xml;charset=UTF-8,%3Csvg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="red" class="size-6"%3E%3Cpath stroke-linecap="round" stroke-linejoin="round" d="m14.74 9-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 0 1-2.244 2.077H8.084a2.25 2.25 0 0 1-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 0 0-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 0 1 3.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 0 0-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 0 0-7.5 0"%3E%3C/path%3E%3C/svg%3E') no-repeat center center;
    background-size: contain;
    cursor: pointer;
  }
  

  .icon-bidone-ordine {
    width: 24px;
    height: 24px;
    position: relative;
    background: url('data:image/svg+xml;charset=UTF-8,%3Csvg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="red" class="size-6"%3E%3Cpath stroke-linecap="round" stroke-linejoin="round" d="m14.74 9-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 0 1-2.244 2.077H8.084a2.25 2.25 0 0 1-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 0 0-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 0 1 3.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 0 0-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 0 0-7.5 0"%3E%3C/path%3E%3C/svg%3E') no-repeat center center;
    background-size: contain;
    cursor: pointer;
  }
  
  
  

  .icon-cancella {
    width: 24px;
    height: 24px;
    background: url('data:image/svg+xml;charset=UTF-8,%3Csvg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="%23c62828" class="size-6"%3E%3Cpath stroke-linecap="round" stroke-linejoin="round" d="m9.75 9.75 4.5 4.5m0-4.5-4.5 4.5M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z"%3E%3C/path%3E%3C/svg%3E') no-repeat center center;
    background-size: contain;
    cursor: pointer;
}

  







  .icon-freccia-sx {
    width: 35px; /* Imposta la larghezza dell'icona */
    height: 35px; /* Imposta l'altezza dell'icona */
    background: url('data:image/svg+xml;charset=UTF-8,%3Csvg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2.5" stroke="white" class="size-6"%3E%3Cpath stroke-linecap="round" stroke-linejoin="round" d="M15.75 19.5 8.25 12l7.5-7.5" /%3E%3C/svg%3E') no-repeat center center;
    background-size: contain; /* Assicura che l'icona si adatti all'elemento */
    display: inline-block; /* Mantiene l'elemento in linea */
    vertical-align: middle; /* Allinea verticalmente l'elemento */
    padding: 10px 20px; /* Spaziatura interna del pulsante */
    background-color: #07437e; /* Colore di sfondo del pulsante */
    color: white; /* Colore del testo del pulsante */
    border: none; /* Rimuove il bordo predefinito */
    border-radius: 5px; /* Angoli arrotondati */
    cursor: pointer; /* Cambia il cursore quando si passa sopra l'icona */
    margin: 20px 0 20px auto; /* Margine per posizionare il pulsante */
    transition: background-color 0.3s ease; /* Transizione per il colore di sfondo */
  }
  
  .icon-freccia-sx:hover {
    background-color: #052f6e; /* Colore di sfondo al passaggio del mouse */
  }
  
  .icon-freccia-dx {
    width: 30px; /* Imposta la larghezza dell'icona */
    height: 35px; /* Imposta l'altezza dell'icona */
    background: url('data:image/svg+xml;charset=UTF-8,%3Csvg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2.5" stroke="white" class="size-6"%3E%3Cpath stroke-linecap="round" stroke-linejoin="round" d="m8.25 4.5 7.5 7.5-7.5 7.5" /%3E%3C/svg%3E') no-repeat center center;
    background-size: contain; /* Assicura che l'icona si adatti all'elemento */
    display: inline-block; /* Mantiene l'elemento in linea */
    vertical-align: middle; /* Allinea verticalmente l'elemento */
    padding: 10px 20px; /* Spaziatura interna del pulsante */
    background-color: #07437e; /* Colore di sfondo del pulsante */
    color: white; /* Colore del testo del pulsante */
    border: none; /* Rimuove il bordo predefinito */
    border-radius: 5px; /* Angoli arrotondati */
    cursor: pointer; /* Cambia il cursore quando si passa sopra l'icona */
    margin: 20px 0 20px auto; /* Margine per posizionare il pulsante */
    transition: background-color 0.3s ease; /* Transizione per il colore di sfondo */
  }
  
  .icon-freccia-dx:hover {
    background-color: #052f6e; /* Colore di sfondo al passaggio del mouse */
  }
  

  .list-group {
    list-style-type: none; /* Rimuove i pallini predefiniti */
    padding: 0; /* Rimuove il padding predefinito */
}

.list-group-item {
    display: grid;
    grid-template-columns: 7fr 2fr 1fr auto; /* Colonne per nome, quantità, note e icona */
    align-items: center; /* Allinea verticalmente al centro */
    gap: 10px; /* Spaziatura fissa tra le colonne */ /* Usa il flexbox per allineare gli elementi */
    
    align-items: center; /* Allinea verticalmente gli elementi */
    padding: 10px; /* Padding interno */
    margin: 5px 0; /* Margine tra gli elementi */
    background-color: #f8f9fa; /* Colore di sfondo (puoi modificarlo) */
    border: 1px solid #ced4da; /* Bordo leggero per separare gli elementi */
    border-radius: 5px; /* Angoli arrotondati */
    
}
  

  footer {
    width: 100%; /* Assicurati che occupi tutta la larghezza */
    padding: 10px; /* Spazio interno */
    background-color: #f1f1f1; /* Colore di sfondo del footer */
    display: flex;
    align-items: center; /* Centra verticalmente il contenuto */
    justify-content: center; /* Centra orizzontalmente il contenuto */
}

.logo-BeTeam {
    height: 15px; 
    margin-top: -2px; 
    margin-bottom: -2px;
}

.warning {
    background-color: #ffcccb; /* Rosso chiaro per il warning */
}


/* Stili per lo spinner */
.spinner {
    border: 10px solid transparent; /* Colore di sfondo */
    border-top: 10px solid  #07437e; /* Colore dell'animazione */
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

/* Stili per l'overlay di caricamento */
#globalLoadingOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999;
}